<!-- works section -->
<section
  class="sec-block sec-block--site overflow-hidden bg-light-primary opacity-0"
  id="works"
  data-anim="slideUp"
>
  <div class="container">
    <div class="sec-head text-center">
      <h2 class="title" data-text="أعمال ابتدي">أعمال ابتدي</h2>
      <h2 class="is-primary f50">شريكنا في النجاح</h2>
    </div>
    <div class="sec-content">
      <div class="row position-relative">
        <div class="col-12">
          <div class="slider owl-carousel nav-blueish">
            @@for (var item = 0; item < slider.length; item++){
            <a class="slider-item text-center d-block" href="#" target="_blank">
              <figure class="mx-auto">
                <img src=@@webRoot/assets/img/slider/`+slider[item]+` alt="">
              </figure>
              <div class="hover">
                <img src="@@webRoot/assets/img/logo.png" alt="" />
                <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
              </div>
            </a>
            }
          </div>
        </div>
        <a
          href="/ibtdi.html"
          class="
            btn
            blueish
            position-absolute
            bottom-0
            start-0
            ms-2
            w-auto
            z-index-10
          "
          target="_blank"
          >شاهد كل أعمال إبتدي</a
        >
      </div>
    </div>
  </div>
</section>
