<!-- Section FAQ -->
<section class="faq overflow-hidden" id="faq">
  <!--  -->
  <div class="container">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="الأسئلة الشائعة">الأسئلة الشائعة</h2>
    </div>
    <!--  -->
    <div class="row">
      <div class="accordion" id="accordionExample">
        <!--  -->
        <div class="accordion-item mb-3 rounded-0 border-0 shadows-app">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button rounded-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <span
                class="
                  accordion__badge
                  d-flex
                  justify-content-center
                  align-items-center
                  mx-2
                "
                >1</span
              >
              <span class="fRegular"
                >لماذا يجب ان تبدأ بـ عمل تطبيق ذكي الان؟</span
              >
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على
              تطبيقات الجوال والمواقع وهذي التطبيقات والمواقع تكسب ملايين من هذه
              الزيارات.. السعودية هي الدولة رقم ١ في زيارات اليوتيوب, يجب ان
              تستغل هذه الرغبه الكبيرة على الانترنت وتربح من خلالها, الكثير من
              المشاريع العربية نجحت واصحابها باعوها بملايين الدولارات واخرها
              موقع طلبات دوت كوم تم بيعه ب ١٥٠ مليون دولار وموقع مكتوب قبله تم
              بيعه ب ١٠٠ مليون وسوق دوت كوم باكثر من مليار دولار، كل هذا يدل على
              ان المشاريع الرقمية الان هي المستقبل وهي الاكثر ربحاً
            </div>
          </div>
        </div>
        <!--  -->
        <div class="accordion-item mb-3 rounded-0 border-0 shadows-app">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed rounded-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <span
                class="
                  accordion__badge
                  d-flex
                  justify-content-center
                  align-items-center
                  mx-2
                "
                >2</span
              >
              <span class="fRegular">ماذا تقدم لي خدماتكم؟</span>
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على
              تطبيقات الجوال والمواقع وهذي التطبيقات والمواقع تكسب ملايين من هذه
              الزيارات.. السعودية هي الدولة رقم ١ في زيارات اليوتيوب, يجب ان
              تستغل هذه الرغبه الكبيرة على الانترنت وتربح من خلالها, الكثير من
              المشاريع العربية نجحت واصحابها باعوها بملايين الدولارات واخرها
              موقع طلبات دوت كوم تم بيعه ب ١٥٠ مليون دولار وموقع مكتوب قبله تم
              بيعه ب ١٠٠ مليون وسوق دوت كوم باكثر من مليار دولار، كل هذا يدل على
              ان المشاريع الرقمية الان هي المستقبل وهي الاكثر ربحاً
            </div>
          </div>
        </div>
        <!--  -->
        <div class="accordion-item mb-3 rounded-0 border-0 shadows-app">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed rounded-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <span
                class="
                  accordion__badge
                  d-flex
                  justify-content-center
                  align-items-center
                  mx-2
                "
                >3</span
              >
              <span class="fRegular">لماذا استثمر ب تطبيق ذكي؟</span>
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على
              تطبيقات الجوال والمواقع وهذي التطبيقات والمواقع تكسب ملايين من هذه
              الزيارات.. السعودية هي الدولة رقم ١ في زيارات اليوتيوب, يجب ان
              تستغل هذه الرغبه الكبيرة على الانترنت وتربح من خلالها, الكثير من
              المشاريع العربية نجحت واصحابها باعوها بملايين الدولارات واخرها
              موقع طلبات دوت كوم تم بيعه ب ١٥٠ مليون دولار وموقع مكتوب قبله تم
              بيعه ب ١٠٠ مليون وسوق دوت كوم باكثر من مليار دولار، كل هذا يدل على
              ان المشاريع الرقمية الان هي المستقبل وهي الاكثر ربحاً
            </div>
          </div>
        </div>
        <!--  -->
        <div class="accordion-item mb-3 rounded-0 border-0 shadows-app">
          <h2 class="accordion-header" id="headingFour">
            <button
              class="accordion-button collapsed rounded-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              <span
                class="
                  accordion__badge
                  d-flex
                  justify-content-center
                  align-items-center
                  mx-2
                "
                >4</span
              >
              <span class="fRegular">ما هي مدة العمل؟</span>
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على
              تطبيقات الجوال والمواقع وهذي التطبيقات والمواقع تكسب ملايين من هذه
              الزيارات.. السعودية هي الدولة رقم ١ في زيارات اليوتيوب, يجب ان
              تستغل هذه الرغبه الكبيرة على الانترنت وتربح من خلالها, الكثير من
              المشاريع العربية نجحت واصحابها باعوها بملايين الدولارات واخرها
              موقع طلبات دوت كوم تم بيعه ب ١٥٠ مليون دولار وموقع مكتوب قبله تم
              بيعه ب ١٠٠ مليون وسوق دوت كوم باكثر من مليار دولار، كل هذا يدل على
              ان المشاريع الرقمية الان هي المستقبل وهي الاكثر ربحاً
            </div>
          </div>
        </div>
        <!--  -->
        <div class="accordion-item mb-3 rounded-0 border-0 shadows-app">
          <h2 class="accordion-header" id="headingFife">
            <button
              class="accordion-button collapsed rounded-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFife"
              aria-expanded="false"
              aria-controls="collapseFife"
            >
              <span
                class="
                  accordion__badge
                  d-flex
                  justify-content-center
                  align-items-center
                  mx-2
                "
                >5</span
              >
              <span class="fRegular">ما هي طريقة العمل؟</span>
            </button>
          </h2>
          <div
            id="collapseFife"
            class="accordion-collapse collapse"
            aria-labelledby="headingFife"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على
              تطبيقات الجوال والمواقع وهذي التطبيقات والمواقع تكسب ملايين من هذه
              الزيارات.. السعودية هي الدولة رقم ١ في زيارات اليوتيوب, يجب ان
              تستغل هذه الرغبه الكبيرة على الانترنت وتربح من خلالها, الكثير من
              المشاريع العربية نجحت واصحابها باعوها بملايين الدولارات واخرها
              موقع طلبات دوت كوم تم بيعه ب ١٥٠ مليون دولار وموقع مكتوب قبله تم
              بيعه ب ١٠٠ مليون وسوق دوت كوم باكثر من مليار دولار، كل هذا يدل على
              ان المشاريع الرقمية الان هي المستقبل وهي الاكثر ربحاً
            </div>
          </div>
        </div>
        <!--  -->
        <div class="accordion-item mb-3 rounded-0 border-0 shadows-app">
          <h2 class="accordion-header" id="headingSix">
            <button
              class="accordion-button collapsed rounded-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
              <span
                class="
                  accordion__badge
                  d-flex
                  justify-content-center
                  align-items-center
                  mx-2
                "
                >6</span
              >
              <span class="fRegular">ما هي تكلفة العمل؟</span>
            </button>
          </h2>
          <div
            id="collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="headingSix"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على
              تطبيقات الجوال والمواقع وهذي التطبيقات والمواقع تكسب ملايين من هذه
              الزيارات.. السعودية هي الدولة رقم ١ في زيارات اليوتيوب, يجب ان
              تستغل هذه الرغبه الكبيرة على الانترنت وتربح من خلالها, الكثير من
              المشاريع العربية نجحت واصحابها باعوها بملايين الدولارات واخرها
              موقع طلبات دوت كوم تم بيعه ب ١٥٠ مليون دولار وموقع مكتوب قبله تم
              بيعه ب ١٠٠ مليون وسوق دوت كوم باكثر من مليار دولار، كل هذا يدل على
              ان المشاريع الرقمية الان هي المستقبل وهي الاكثر ربحاً
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
