</main>

<!-- start footer-->
<footer class="mt-5">
	<section class="sec-block">
		<div class="container position-relative">
			<div class="row justify-content-between">
				<!--  -->
				<div class="col-12 col-lg mb-md-5 mb-lg-0">
					<!-- company logo -->
					<div class="logo">
						<img src="@@webRoot/assets/img/logo.png" alt="">
					</div>
					<p class="my-4 py-3">هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية 
						تم  تعديلها بشكل ما عبر إدخال بعض النوادر</p>
					<!-- Social links -->
					<nav class="nav social">
						<a href="#" class="nav-link facebook">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#" class="nav-link twitter">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="#" class="nav-link instagram">
							<i class="fab fa-instagram"></i>
						</a>
						<a href="#" class="nav-link youtube">
							<i class="fab fa-youtube"></i>
						</a>
					</nav>

				</div>
				<!--  -->
				<div class="col-12 col-lg mx-lg-3 mt-5 mt-md-0 order-3 order-md-2">
					<h5>خريطة الموقع</h5>
					<!-- Main navigation -->
					<div class="d-flex mt-4">
						<ul class="nav footer-links">
							<li class="nav-item ms-5">
								<a class="nav-link" href="@@webRoot/">رابط هام للموقع</a>
							</li>
							<li class="nav-item ms-5">
								<a class="nav-link" href="@@webRoot/">رابط هام للموقع</a>
							</li>
							<li class="nav-item ms-5">
								<a class="nav-link" href="@@webRoot/">رابط هام للموقع</a>
							</li>
							<li class="nav-item ms-5">
								<a class="nav-link" href="@@webRoot/">رابط هام للموقع</a>
							</li>
							<li class="nav-item ms-5">
								<a class="nav-link" href="@@webRoot/">رابط هام للموقع</a>
							</li>
							<li class="nav-item ms-5">
								<a class="nav-link" href="@@webRoot/">رابط هام للموقع</a>
							</li>
							<li class="nav-item ms-5">
								<a class="nav-link" href="@@webRoot/">رابط هام للموقع</a>
							</li>
							<li class="nav-item ms-5">
								<a class="nav-link" href="@@webRoot/">رابط هام للموقع</a>
							</li>
						</ul>
					</div>
				</div>
				<!--  -->
				<div class="col-12 col-lg mt-5 mt-md-0 order-2 order-md-3">
					<h5>مبيعات الشركة</h5>
					<!-- Main navigation -->
					<div class="d-flex mt-4">
						<ul class="nav contacts flex-column">
							<li class="nav-item d-flex ms-5">
								<i class="fas fa-map-marker-alt"></i>
								<span>عنوان المتجر يظهر هنا بشكل تفصيلى معبرا عن تفاصيله</span>
							</li>
							<li class="nav-item d-flex ms-5">
								<i class="fas fa-phone"></i>
								<span>+9661611111</span>
							</li>
							<li class="nav-item d-flex ms-5">
								<i class="fas fa-envelope-open"></i>
								<span>Info@ecomillin.com</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Copyrights -->
	<section class="copyrights">
		<div class="container d-flex flex-column flex-sm-row align-items-center justify-content-between">
			<p>جميع الحقوق محفوظة @ Ecomillin 2020</p>
			<p>
				<span>تصميم وبرمجة</span>
				<img src="@@webRoot/assets/img/ibtdi.svg" alt="">
			</p>
		</div>
	</section>
</footer>
  @@include('scripts.html')

</body>
</html>