<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="@@webRoot/assets/img/icon.png"
    />

    @@include('styles.html')

    <title>@@document-title</title>
  </head>

  <body>
    <!-- start header-->
    @@include('nav.html')

    <main role="main" id="@@page-id">
