<!-- Main navigation -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <!--  -->
  <div class="container">
    <!--  -->
    <div class="d-flex align-items-center">
      <!--  -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#main-nav"
        aria-controls="main-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon ms-3"></span>
      </button>

      <a class="navbar-brand" href="/">
        <img src="@@webRoot/assets/img/logo.png" alt="Website Logo" />
      </a>
    </div>

    <section
      class="collapse navbar-collapse order-3 order-lg-0 mt-4 mt-lg-0"
      id="main-nav"
    >
      <ul class="navbar-nav mx-auto">
        <li class="nav-item mb-2 mb-lg-0">
          <a class="nav-link px-3 px-lg-2" href="/">الرئيسية</a>
        </li>
        <li class="nav-item mb-2 mb-lg-0">
          <a class="nav-link px-3 px-lg-2" href="@@webRoot/">عن الشركة</a>
        </li>
        <li class="nav-item mb-2 mb-lg-0">
          <a class="nav-link px-3 px-lg-2" href="/crm.html">CRM</a>
        </li>
        <li class="nav-item mb-2 mb-lg-0">
          <a class="nav-link px-3 px-lg-2" href="/employees.html">ERP</a>
        </li>
        <li class="nav-item mb-2 mb-lg-0 dropdown">
          <a class="nav-link dropdown-toggle px-3 px-lg-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           خدمات الشركة
          </a>
          <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdown">
            <li class="nav-item mb-2"><a class="dropdown-item" href="/site.html">تصميم المواقع</a></li>
            <li class="nav-item mb-2"><a class="dropdown-item" href="/mobile.html">تصميم التطبيقات</a></li>
            <li class="nav-item mb-2"><a class="dropdown-item" href="/host.html">الاستضافة</a></li>
            <li class="nav-item mb-2"><a class="dropdown-item" href="/graphic-design.html">تصميم الجرافيك</a></li>
            <li class="nav-item mb-2"><a class="dropdown-item" href="/motion-graphic.html">الموشن جرافيك</a></li>
            <li class="nav-item mb-2"><a class="dropdown-item" href="/social-media.html">سوشيال ميديا</a></li>
            <li class="nav-item mb-2"><a class="dropdown-item" href="/google-advertising.html">اعلانات جوجل</a></li>
            <li class="nav-item mb-2"><a class="dropdown-item" href="/optimize-seo.html">تحسين محركات البحث</a></li>
            <li class="nav-item mb-2"><a class="dropdown-item" href="/brand-building.html">بناء العلامه التجارية</a></li>
             <li class="nav-item mb-2"><a class="dropdown-item" href="/training-consulting.html">التدريب و الاستشارات</a></li>
          </ul>
        </li>
       
         <li class="nav-item mb-2 mb-lg-0 dropdown">
          <a class="nav-link dropdown-toggle px-3 px-lg-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           اعمالنا
          </a>
          <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdown">
            <li class="nav-item mb-2"><a class="dropdown-item" href="/our-business.html">اعمال ابتدي</a></li>
            <li class="nav-item mb-2"><a class="dropdown-item" href="/our-business-2.html">التصميم و الانتاج</a></li>
          </ul>
        </li>

        <li class="nav-item mb-2 mb-lg-0">
          <a class="nav-link px-3 px-lg-2" href="/blog.html">المدونة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 px-lg-2" href="/contact-us.html">تواصل معنا</a>
        </li>
      </ul>
    </section>

    <section class="d-flex align-items-center">
      <nav class="nav btns-nav">
        <a class="btn yellowish nav-link active" href="#">تذكرة جديدة</a>
        <a class="btn yellowish outline nav-link" href="#">EN</a>
      </nav>
    </section>
  </div>
</nav>
