<!-- Bootstrap CSS -->

<link
  rel="stylesheet"
  id="bootstrap"
  href="@@webRoot/assets/css/bootstrap.min.css"
/>
<!-- <link
  rel="stylesheet"
  id="bootstrap-ar"
  href="@@webRoot/assets/css/bootstrap.rtl.min.css"
/> -->

<link rel="stylesheet" href="@@webRoot/assets/css/fontawesome.min.css" />
<link rel="stylesheet" href="@@webRoot/assets/css/owl.carousel.css" />
<link rel="stylesheet" href="@@webRoot/assets/css/owl.theme.default.min.css" />
<link rel="stylesheet" href="@@webRoot/assets/css/main.css" />
