@@include( './includes/header.html', {"webRoot": ".", "document-title":
"EcoMillion-blog-details", "page-id": "blog-details"} )

<!-- Header -->
<section id="header" class="header">
  <!--  -->
  <div class="container h-100">
    <!--  -->
    <div class="row align-items-center h-100 opacity-0" data-anim="slideUp">
      <!--  -->
      <div class="header__info col text-center">
        <h1 role="head-title" class="f50 is-accent my-4 my-lg-5">
          كيف تحصل على موقع مثالي صديق لمحركات البحث ؟
        </h1>
      </div>
    </div>
  </div>
</section>

<!--  -->
<section class="position-relative margin--100">
    <div class="container">
        <!--  -->
        <div class="row opacity-0" data-anim="slideUp">
            <!--  -->
            <div class="col-lg-10 mx-auto">
                <figure role="image" class="h-vw-40">
                    <img class="img-fluid object-fit-cover" src="@@webRoot/assets/img/05.png" alt="">
                </figure>
                <!--  -->
                <p role="description" class="f16 lh-lg py-5">
                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم نفسه عدة مرات بما تتطلبه الحاجة، يقوم مولّدنا هذا باستخدام كلمات من قاموس يحوي على أكثر من 200 كلمة لا تينية، مضاف إليها مجموعة من الجمل النموذجية، لتكوين نص لوريم إيبسوم ذو شكل منطقي قريب إلى النص الحقيقي. وبالتالي يكون النص الناتح خالي من التكرار
                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم نفسه عدة مرات بما تتطلبه الحاجة، يقوم مولّدنا هذا باستخدام كلمات من قاموس يحوي على أكثر من 200 كلمة لا تينية، مضاف إليها مجموعة من الجمل النموذجية، لتكوين نص لوريم إيبسوم ذو شكل منطقي قريب إلى النص الحقيقي. وبالتالي يكون النص الناتح خالي من التكرار
                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم نفسه عدة مرات بما تتطلبه الحاجة، يقوم مولّدنا هذا باستخدام كلمات من قاموس يحوي على أكثر من 200 كلمة لا تينية، مضاف إليها مجموعة من الجمل النموذجية، لتكوين نص لوريم إيبسوم ذو شكل منطقي قريب إلى النص الحقيقي. وبالتالي يكون النص الناتح خالي من التكرار
                </p>
                <!--  -->
                <div class="bg-accent d-flex flex-column flex-md-row align-items-center justify-content-center mt-3 py-3 px-2">
                    <p role="title" class="is-primary mx-3 mb-3 mb-md-0">شارك المقال</p>
                    <!-- Social links -->
					<nav class="nav social">
						<a href="#" class="nav-link facebook bg-primary mx-2 width-40 height-40 d-flex justify-content-center align-items-center hover-share">
							<i class="fab fa-facebook-f fa-fw fa-lg"></i>
						</a>
						<a href="#" class="nav-link twitter bg-primary mx-2 width-40 height-40 d-flex justify-content-center align-items-center hover-share">
							<i class="fab fa-twitter fa-fw fa-lg"></i>
						</a>
						<a href="#" class="nav-link instagram bg-primary mx-2 width-40 height-40 d-flex justify-content-center align-items-center hover-share">
							<i class="fab fa-instagram fa-fw fa-lg"></i>
						</a>
						<a href="#" class="nav-link youtube bg-primary mx-2 width-40 height-40 d-flex justify-content-center align-items-center hover-share">
							<i class="fab fa-youtube fa-fw fa-lg"></i>
						</a>
						<a href="#" class="nav-link whatsapp bg-primary mx-2 width-40 height-40 d-flex justify-content-center align-items-center hover-share">
							<i class="fab fa-whatsapp fa-fw fa-lg"></i>
						</a>
					</nav>
                </div>
            </div>
        </div>
    </div>
</section>

@@include('./includes/contact.html', {"webRoot": "."})
@@include('./includes/footer.html', {"webRoot": "."})
