@@include( './includes/header.html', {"webRoot": ".", "document-title":
"EcoMillion-blog", "page-id": "blog"} )

<!-- Header -->
<header id="header" class="header">
  <!--  -->
  <div class="container h-100">
    <!--  -->
    <div class="row align-items-center h-100 opacity-0" data-anim="slideUp">
      <!--  -->
      <div class="header__info col text-center">
        <h1 role="head-title" class="f50 is-accent my-4 my-lg-5">
          المدونة
        </h1>
        <p role="description" class="f16 text-white w-75 mx-auto my-4 lh-lg">
        العديد من المقالات في كافة المجالات التكنولوجية التي يتم نشرها بواسطة مؤلفينا
        </p>
      </div>
    </div>
  </div>
</header>

<!-- Content -->
<section class="blog" id="s-blog">
    <div class="container">
        <div class="row pt-5">
              @@for (var item = 0; item < blog.length; item++){ <div class="col-sm-6 col-md-4 col-lg-3 mb-2 mb-lg-5 slider-item">
                    <figure class="mx-auto">
                        <img src=@@webRoot/assets/img/`+blog[item]+` alt="">
                    </figure>
                    <div class="item-body">
                        <h6 class="fBold">كيف تحصل على موقع مثالي صديق
                            لمحركات البحث ؟</h6>
                        <p class="is-dimmed my-3 mb-4">البحث هو عملية زيادة جودة وكمية حركة مرور موقع الويب</p>
                        <a href="" class="is-primary fBold">
                            <i class="fas fa-chevron-left"></i>
                            اقرأ المزيد
                        </a>
                    </div>
            </div>
            }
              @@for (var item = 0; item < blog.length; item++){ <div class="col-sm-6 col-md-4 col-lg-3 mb-2 mb-lg-5 slider-item">
                    <figure class="mx-auto">
                        <img src=@@webRoot/assets/img/`+blog[item]+` alt="">
                    </figure>
                    <div class="item-body">
                        <h6 class="fBold">كيف تحصل على موقع مثالي صديق
                            لمحركات البحث ؟</h6>
                        <p class="is-dimmed my-3 mb-4">البحث هو عملية زيادة جودة وكمية حركة مرور موقع الويب</p>
                        <a href="" class="is-primary fBold">
                            <i class="fas fa-chevron-left"></i>
                            اقرأ المزيد
                        </a>
                    </div>
            </div>
            }
        </div>
    </div>
</section>
@@include('./includes/contact.html', {"webRoot": "."})
@@include('./includes/footer.html', {"webRoot": "."})
