@@include( './includes/header.html', {"webRoot": ".", "document-title":
"EcoMillin-brand-building", "page-id": "brand-building"} )

<!-- Header -->
<header class="header" id="header">
  <!--  -->
  <div class="container h-100">
    <!--  -->
    <div
      class="
        row
        g-0
        align-items-center
        justify-content-center
        align-content-center
        justify-content-lg-between
        h-100
      "
    >
      <div class="col-md-6 opacity-0" role="info" data-anim="slideRight">
        <h1 role="head-title" class="f50 is-accent my-4 my-lg-5">
          بناء العلامة التجارية
        </h1>
        <p
          role="description"
          class="f16 text-white mb-2 mb-lg-5 mx-auto my-4 lh-lg"
        >
          علامتك التجارية هى اكثر الأصول الأكثر قيمه لشركتك تمكنك بناء العلامه
          التجارية من التعرف على العملاء والتنافس فى الاسواق، تعزيز المصداقية،
          سهوله الشراء، ولاء العملاء.
        </p>
        <!-- Form -->
        <form id="form1" name="form1" class="row g-0 justify-content-between">
          <!--  -->
          <div class="flex-basis-form mb-2 mb-lg-0">
            <input
              type="text"
              placeholder="الاسم"
              aria-label="First name"
              class="form-control crm bg-trans text-white"
              autocomplete="off"
              id="name"
            />
            <span class="message-validation-form1 d-block" id="messageName1">
            </span>
          </div>
          <!--  -->
          <div class="flex-basis-form">
            <input
              type="tel"
              placeholder="رقم الهاتف"
              aria-label="Last name"
              class="form-control crm bg-trans text-white"
              autocomplete="off"
              id="phone"
            />
            <span class="message-validation-form1 d-block" id="messagePhone">
            </span>
          </div>
          <!--  -->
          <button type="submit" role="submit" class="btn yellowish mt-3">
            <img class="ms-2" src="@@webRoot/assets/img/send.svg" alt="" />
            <span class="align-middle">أطلب الخدمة الأن</span>
          </button>
        </form>
      </div>
      <!--  -->
      <figure
        class="col-md-6 my-3 px-3 col-lg-5 text-center opacity-0"
        role="image"
        data-anim="slideLeft"
      >
        <img
          class="img-fluid h-vw-30"
          src="@@webRoot/assets/img/identy.svg"
          alt=""
        />
      </figure>
    </div>
  </div>
</header>

<!-- Section -->
<section
  class="sec-block change overflow-hidden opacity-0"
  data-anim="slideUp"
  id="tools"
>
  <!--  -->
  <div class="container">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="لأنك تستحق الأفضل">لأنك تستحق الأفضل</h2>
    </div>
    <!--  -->
    <div class="sec-content">
      <div class="row justify-content-center">
        @@for (var item = 0; item < brandBuilding.features.length; item++){
        <div class="col-sm-6 col-lg-4 mt-4 mt-md-5">
          <div class="card-item text-center">
            <figure
              role="svg"
              class="flex-shrink-0 mx-auto shadows py-2 rounded"
            >
              <svg class="resize-svg svg-fill-blueish">
                <use
                xlink:href=@@webRoot/assets/img/sprite.svg#icon-`+brandBuilding.features[item].icon+`
                >
                <title>`+brandBuilding.features[item].icon+`</title>
              </svg>
            </figure>
            <h4
              class="card-name mb-3 mb-md-4 f25 white-space-no text-capitalize"
            >
              `+brandBuilding.features[item].title+`
            </h4>
            <p class="card-desc is-dimmed px-lg-4 lh-lg">
              مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على
              تطبيقات الجوال والمواقع
            </p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>

<!-- works section -->
<section
  class="sec-block overflow-hidden p-0 opacity-0"
  data-anim="slideUp"
  id="works2"
>
  <div class="container">
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="أعمالنا في بناء العلامة التجارية">
        أعمالنا في بناء العلامة التجارية
      </h2>
    </div>
    <div class="sec-content margin-100">
      <div class="row position-relative">
        <div class="col-12">
          <div class="slider owl-carousel nav-yellowish">
            @@for (var item = 0; item < slider.length; item++){
            <div class="slider-item text-center">
              <figure class="mx-auto">
                <img src=@@webRoot/assets/img/slider/`+slider[item]+` alt="">
              </figure>
              <div class="hover">
                <img src="@@webRoot/assets/img/logo.png" alt="" />
                <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
              </div>
            </div>
            }
          </div>
        </div>
        <a
          href="https://google.com"
          class="
            btn
            yellowish
            position-absolute
            z-index-10
            bottom-0
            start-0
            ms-2
            w-auto
          "
          target="_blank"
          >شاهد كل الأعمال</a
        >
      </div>
    </div>
  </div>
</section>

@@include('./includes/footer.html', {"webRoot": "."})
