@@include( './includes/header.html', {"webRoot": ".", "document-title":
"EcoMillin-contact-us", "page-id": "contact-us"} )

<!-- Header -->
<header id="header" class="header">
  <!--  -->
  <div class="container h-100">
    <!--  -->
    <div class="row align-items-center h-100 opacity-0" data-anim="slideUp">
      <!--  -->
      <div class="header__info col text-center">
        <h1 role="head-title" class="f50 is-accent my-4 my-lg-5">تواصل معنا</h1>
        <p role="description" class="f16 text-white w-75 mx-auto my-4 lh-lg">
          اذا كان لديك أي استفسار او تساؤل يرجى التواصل معنا الان
        </p>
      </div>
    </div>
  </div>
</header>

@@include('./includes/contact.html', {"webRoot": "."})
@@include('./includes/footer.html', {"webRoot": "."})
