@@include( './includes/header.html', {"webRoot": ".", "document-title":
"EcoMillion-employees", "page-id": "employees"} )

<!-- Header -->
<header class="header" id="header">
  <!--  -->
  <div class="container h-100">
    <!--  -->
    <div
      class="
        row
        g-0
        align-items-center
        justify-content-center justify-content-lg-between
        h-100
      "
    >
      <div class="col-md-6 opacity-0" data-anim="slideRight" role="info">
        <h1 role="head-title" class="f50 is-accent my-4 my-lg-5">
          برنامج إداره شئون الموظفين
        </h1>
        <p role="description" class="f16 text-white mb-2 mb-lg-5 mx-auto my-4 lh-lg">
          تحتاج الى تصميم موقع الكتروني ، تصميم موقع شركة تصميم متجر الكتروني
          تصميم حراج تصميم موقع خاص أو أفضل شركة تصميم مواقع فى الوطن العربي ،
          أنت الآن امام أفضل شركة تصميم مواقع على الانترنت
        </p>
       <!-- Form -->
        <form id="form1" name="form1" class="row g-0 justify-content-between">
          <!--  -->
          <div class="flex-basis-form mb-2 mb-lg-0">
            <input
              type="text"
              placeholder="الاسم"
              aria-label="First name"
              class="form-control crm bg-trans text-white"
              autocomplete="off"
              id="name"
            />
            <span class="message-validation-form1 d-block" id="messageName1">
            </span>
          </div>
          <!--  -->
          <div class="flex-basis-form">
            <input
              type="tel"
              placeholder="رقم الهاتف"
              aria-label="Last name"
              class="form-control crm bg-trans text-white"
              autocomplete="off"
              id="phone"
            />
            <span class="message-validation-form1 d-block" id="messagePhone">
            </span>
          </div>
          <!--  -->
          <button type="submit" role="submit" class="btn yellowish mt-3">
            <img class="ms-2" src="@@webRoot/assets/img/send.svg" alt="" />
            <span class="align-middle">أطلب البرنامج الأن</span>
          </button>
        </form>
      </div>
      <!--  -->
      <figure
        class="col-8 col-md-6 my-3 col-lg-5 text-center opacity-0"
        data-anim="slideLeft"
        role="image"
      >
        <img class="img-fluid" src="@@webRoot/assets/img/shoon.png" alt="" />
      </figure>
    </div>
  </div>
</header>

<!-- Section -->
<section class="sec-block change overflow-hidden opacity-0" data-anim="slideUp" id="tools">
  <!--  -->
  <div class="container">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="مميزات برنامج شئون الموظفين">
        مميزات برنامج شئون الموظفين
      </h2>
    </div>
    <!--  -->
    <div class="sec-content">
      <div class="row justify-content-center">
        @@for (var item = 0; item < employees.features.length; item++){
        <div class="col-sm-6 col-lg-4 mt-4 mt-md-5">
          <div class="card-item text-center">
            <figure
              role="svg"
              class="flex-shrink-0 mx-auto bg-white shadows py-2 rounded"
            >
              <svg class="resize-svg svg-fill-blueish">
                <use
                xlink:href=@@webRoot/assets/img/sprite.svg#icon-`+employees.features[item].icon+`
                >
                <title>`+employees.features[item].icon+`</title>
              </svg>
            </figure>
            <h4 class="card-name mb-3 mb-md-4 f25 white-space-no">
              `+employees.features[item].title+`
            </h4>
            <p class="card-desc is-dimmed px-lg-4 lh-lg">
              `+employees.features[item].desc+`
            </p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>

<!-- Section report -->
<section class="bg-grey-light" id="banar-report">
  <div class="container">
    <!--  -->
    <div
      class="row g-0 padding-section align-items-center opacity-0"
      data-anim="slideUp3D"
    >
      <!--  -->
      <div class="col">
        <h2 role="head" class="f40 mb-3">تقارير تفصيلية عن الموظفين والأداء</h2>
        <p
          role="description"
          class="f16 card-desc width-75 is-dimmed lh-lg mt-5"
        >
          البرنامج يقدم كافة التقارير الخاصة بالموظفين (تقارير المستحقات المالية
          للموظفين - تقارير حركة التعيينات والتنقلات - تقارير حضور وانصراف
          الموظفين - تقارير أداء كل قسم - تقارير مهام الموظفين والمشروعات -
          تقارير مهام الموظفين والمشروعات - تقارير أرصدة الإجازات والعطلات -
          تقارير الدورات التدريبية والتقييم - تقارير المكافآت والعلاوات
          والجزاءات )
        </p>
      </div>
      <!--  -->
      <figure class="col-lg-3 text-center mt-5 mt-lg-0" role="image">
        <img
          class="img-fluid resize-img-banar"
          src="@@webRoot/assets/img/workers.png"
          alt=""
        />
      </figure>
    </div>
  </div>
</section>

<!-- Section odoo ERP -->
<section class="overflow-hidden opacity-0" data-anim="slideDown" id="erp">
  <div class="container">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="مميزات نظام ادارة الشركات Odoo ERP">
        مميزات نظام ادارة الشركات Odoo ERP
      </h2>
    </div>
    <!--  -->
    <div class="row">
      @@for(var item = 0; item < employees.featuresOdoo.length; item++) {
      <!--  -->
      <div
        class="
          col-md-6 col-lg-4
          mb-5
          d-flex
          align-items-center align-items-md-start
        "
      >
        <svg class="resize-svg-features-odoo mx-3 flex-shrink-0">
          <use
          xlink:href=@@webRoot/assets/img/sprite.svg#icon-`+employees.featuresOdoo[item].icon+`
          >
          <title>`+employees.featuresOdoo[item].icon+`</title>
        </svg>
        <p role="description" class="f18 lh-lg">
          `+employees.featuresOdoo[item].desc+`
        </p>
      </div>
      }
    </div>
  </div>
</section>

<!-- Section start company -->
<section class="start-company" id="start-company">
  <div class="container">
    <!--  -->
    <div
      class="
        row
        g-0
        align-content-center align-items-center
        start-company__inner
      "
    >
      <!--  -->
      <div class="col-lg p-2 p-lg-5 opacity-0" data-anim="slideUp">
        <h2 role="head" class="f40 mb-3 mb-lg-5 is-accent">
          إبدأ الآن فى ادارة شركتك بأحترافية
        </h2>
        <p role="description" class="f18 text-white width-95 lh-lg">
          الان يمكنك طلب برنامج ادارة شؤون الموظفين والانضمام الينا لتحقيق اعلى
          مستويات الاحترافية في إدارة البيزنس الخاص بك
        </p>
      </div>
      <div
        class="col-lg text-center mt-3 mt-lg-0 opacity-0"
        data-anim="slideDown"
      >
        <a role="link" class="btn yellowish px-4" href="#">
          <img class="ms-2" src="@@webRoot/assets/img/send.svg" alt="" />
          <span class="align-middle">أطلب البرنامج الأن</span>
        </a>
      </div>
    </div>
  </div>
</section>

@@include('./includes/contact.html', {"webRoot": "."})
@@include('./includes/footer.html', {"webRoot": "."})
