@@include( './includes/header.html', {"webRoot": ".", "document-title":
"EcoMillion-graphic-design", "page-id": "graphic-design"} )

<!-- Header -->
<header class="header overflow-hidden" id="header">
  <!--  -->
  <div class="container h-100">
    <!--  -->
    <div
      class="
        row
        g-0
        align-items-center
        justify-content-center
        align-content-center
        justify-content-lg-between
        h-100
      "
    >
      <div class="col-md-6 opacity-0" role="info" data-anim="slideRight">
        <h1 role="head-title" class="f50 is-accent my-4 my-lg-5">
          تصميم الجرافيك
        </h1>
        <p
          role="description"
          class="f16 text-white mb-2 mb-lg-5 mx-auto my-4 lh-lg"
        >
          في عالم الانترنت نحن لا نبيع منتجات بل نبيع صور ، فيجب ان تكون صورك
          قابله للبيع
        </p>
      </div>
      <!--  -->
      <figure
        class="col-md-6 my-3 px-3 col-lg-5 text-center opacity-0"
        role="image"
        data-anim="slideLeft"
      >
        <img
          class="img-fluid h-vw-30"
          src="@@webRoot/assets/img/graphic-design.svg"
          alt=""
        />
      </figure>
    </div>
  </div>
</header>

<!-- Offers -->
<section id="offers" class="offers opacity-0" data-anim="slideUp">
  <!--  -->
  <div class="container overflow-hidden">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2
        class="title"
        data-text="لأنك تستحق الأفضل وفرنا لك أفضل الباقات
      "
      >
        لأنك تستحق الأفضل وفرنا لك أفضل الباقات
      </h2>
    </div>
    <!--  -->
    <div class="row">
      <!--  -->
      <div class="offers__category">
        <div class="row justify-content-between g-0">
          <!--  -->
          <div
            class="
              offers__category__card
              flex-basis-offers
              mb-3 mb-lg-0
              shadows
              flex-grow-0
            "
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                الفضية
              </p>
              <!--  -->
              <p
                class="
                  offers__category__card__price
                  text-center
                  px-3
                  py-2
                  f30
                  fBold
                "
              >
                <span>1999</span>
                <span class="f16">ريال</span>
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">50 صورة</li>
                <li class="py-4 border-bottom">بروفة التصميم : 1</li>
                <li class="py-4 border-bottom">
                  نستخدم برامج الفوتوشوب - الإليستراتور
                </li>
                <li class="py-4 border-bottom">ارفاق التصميمات جملة واحدة</li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">اطلب الان</a>
            </div>
          </div>
          <!--  -->
          <div
            class="
              offers__category__card
              flex-basis-offers
              mb-3 mb-lg-0
              shadows
              flex-grow-0
            "
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                الذهبية
              </p>
              <!--  -->
              <p
                class="
                  offers__category__card__price
                  text-center
                  px-3
                  py-2
                  f30
                  fBold
                "
              >
                <span>1999</span>
                <span class="f16">ريال</span>
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">50 صورة</li>
                <li class="py-4 border-bottom">بروفة التصميم : 1</li>
                <li class="py-4 border-bottom">
                  نستخدم برامج الفوتوشوب - الإليستراتور
                </li>
                <li class="py-4 border-bottom">ارفاق التصميمات جملة واحدة</li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">اطلب الان</a>
            </div>
          </div>
          <!--  -->
          <div
            class="
              offers__category__card
              flex-basis-offers
              mb-3 mb-lg-0
              shadows
              flex-grow-0
            "
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                الماسية
              </p>
              <!--  -->
              <p
                class="
                  offers__category__card__price
                  text-center
                  px-3
                  py-2
                  f30
                  fBold
                "
              >
                <span>1999</span>
                <span class="f16">ريال</span>
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">50 صورة</li>
                <li class="py-4 border-bottom">بروفة التصميم : 1</li>
                <li class="py-4 border-bottom">
                  نستخدم برامج الفوتوشوب - الإليستراتور
                </li>
                <li class="py-4 border-bottom">ارفاق التصميمات جملة واحدة</li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">اطلب الان</a>
            </div>
          </div>
          <!--  -->
          <div
            class="
              offers__category__card
              flex-basis-offers
              mb-3 mb-lg-0
              shadows
              flex-grow-0
            "
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                المتخصصة
              </p>
              <!--  -->
              <p
                class="
                  offers__category__card__price
                  text-center
                  px-3
                  py-2
                  f30
                  fBold
                "
              >
                سعر غير محدد
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">50 صورة</li>
                <li class="py-4 border-bottom">بروفة التصميم : 1</li>
                <li class="py-4 border-bottom">
                  نستخدم برامج الفوتوشوب - الإليستراتور
                </li>
                <li class="py-4 border-bottom">ارفاق التصميمات جملة واحدة</li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">تواصل معنا</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- works section -->
<section
  class="sec-block overflow-hidden p-0 mt-3 opacity-0"
  id="works2"
  data-anim="slideDown"
>
  <div class="container">
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="أعمالنا في الموشن جرافيك">
        أعمالنا في تصميم الجرافيك
      </h2>
    </div>
    <div class="sec-content margin-100">
      <div class="row position-relative">
        <div class="col-12">
          <div class="slider owl-carousel nav-yellowish">
            @@for (var item = 0; item < slider.length; item++){
            <div class="slider-item text-center">
              <figure class="mx-auto">
                <img src=@@webRoot/assets/img/slider/`+slider[item]+` alt="">
              </figure>
              <div class="hover">
                <img src="@@webRoot/assets/img/logo.png" alt="" />
                <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
              </div>
            </div>
            }
          </div>
        </div>
        <a
          href="https://google.com"
          class="
            btn
            yellowish
            position-absolute
            z-index-10
            bottom-0
            start-0
            ms-2
            w-auto
          "
          target="_blank"
          >شاهد كل الأعمال</a
        >
      </div>
    </div>
  </div>
</section>

@@include('./includes/footer.html', {"webRoot": "."})
