@@include( './includes/header.html', {"webRoot": ".", "document-title":
"EcoMillion-host", "page-id": "host"} )

<!-- Header -->
<section id="header" class="header">
  <!--  -->
  <div class="container h-100">
    <!--  -->
    <div class="row align-items-center h-100">
      <!--  -->
      <div class="header__info col text-center">
        <!--  -->
        <figure role="icon" class="header__icon set-size-icon">
          <img src="@@webRoot/assets/img/hosting-2.svg" alt="" />
        </figure>
        <h1 role="head-title" class="f50 is-accent my-4 my-lg-5">
          إستضافة سريعة
        </h1>
        <p role="description" class="f16 text-white w-75 mx-auto my-4 lh-lg">
          تحتاج الى تصميم موقع الكتروني ، تصميم موقع شركة تصميم متجر الكتروني
          تصميم حراج تصميم موقع خاص أو أفضل شركة تصميم مواقع فى الوطن العربي ،
          أنت الآن امام أفضل شركة تصميم مواقع على الانترنت تهتم بتقديم أعلى جودة
        </p>
        <a role="link" class="btn yellowish px-4" href="#">
          <img class="ms-2" src="@@webRoot/assets/img/send.svg" alt="" />
          <span class="align-middle">أطلب استضافتك الأن</span>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Offers -->
<section id="offers" class="offers">
  <!--  -->
  <div class="container overflow-hidden">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="باقات الإستضافة">باقات الإستضافة</h2>
    </div>
    <!--  -->
    <div class="row">
      <!--  -->
      <div class="offers__category">
        <div class="row justify-content-between g-0">
          <!--  -->
          <div
            class="offers__category__card flex-basis-offers mb-3 mb-lg-0 shadows flex-grow-0"
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                باقة مبتدئ
              </p>
              <!--  -->
              <p
                class="offers__category__card__price text-center px-3 py-2 f30 fBold"
              >
                <span>180</span>
                <span class="f16">ريال/سنوي</span>
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">10,000 ميجا مساحة تخزينية</li>
                <li class="py-4 border-bottom">
                  30,000 ميجا نقل البيانات شهريا
                </li>
                <li class="py-4 border-bottom">
                  عدد لا نهائى من الصفحات والاقسام
                </li>
                <li class="py-4 border-bottom">
                  عدد لا نهائي من قواعد البيانات
                </li>
                <li class="py-4 border-bottom">عدد لا نهائي من حسابات FTP</li>
                <li class="py-4 border-bottom">باقي خواص الباقة غير محدودة</li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">أطلب العرض الأن</a>
            </div>
          </div>
          <!--  -->
          <div
            class="offers__category__card flex-basis-offers mb-3 mb-lg-0 shadows flex-grow-0"
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                باقة متوسطة
              </p>
              <!--  -->
              <p
                class="offers__category__card__price text-center px-3 py-2 f30 fBold"
              >
                <span>280</span>
                <span class="f16">ريال/سنوي</span>
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">10,000 ميجا مساحة تخزينية</li>
                <li class="py-4 border-bottom">
                  30,000 ميجا نقل البيانات شهريا
                </li>
                <li class="py-4 border-bottom">
                  عدد لا نهائى من الصفحات والاقسام
                </li>
                <li class="py-4 border-bottom">
                  عدد لا نهائي من قواعد البيانات
                </li>
                <li class="py-4 border-bottom">عدد لا نهائي من حسابات FTP</li>
                <li class="py-4 border-bottom">باقي خواص الباقة غير محدودة</li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">أطلب العرض الأن</a>
            </div>
          </div>
          <!--  -->
          <div
            class="offers__category__card flex-basis-offers mb-3 mb-lg-0 shadows flex-grow-0"
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                باقة متقدمة
              </p>
              <!--  -->
              <p
                class="offers__category__card__price text-center px-3 py-2 f30 fBold"
              >
                <span>320</span>
                <span class="f16">ريال/سنوي</span>
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">10,000 ميجا مساحة تخزينية</li>
                <li class="py-4 border-bottom">
                  30,000 ميجا نقل البيانات شهريا
                </li>
                <li class="py-4 border-bottom">
                  عدد لا نهائى من الصفحات والاقسام
                </li>
                <li class="py-4 border-bottom">
                  عدد لا نهائي من قواعد البيانات
                </li>
                <li class="py-4 border-bottom">عدد لا نهائي من حسابات FTP</li>
                <li class="py-4 border-bottom">باقي خواص الباقة غير محدودة</li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">أطلب العرض الأن</a>
            </div>
          </div>
          <!--  -->
          <div
            class="offers__category__card flex-basis-offers mb-3 mb-lg-0 shadows flex-grow-0"
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                باقة غير محدودة
              </p>
              <!--  -->
              <p
                class="offers__category__card__price text-center px-3 py-2 f30 fBold"
              >
                <span>650</span>
                <span class="f16">ريال/سنوي</span>
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">10,000 ميجا مساحة تخزينية</li>
                <li class="py-4 border-bottom">
                  30,000 ميجا نقل البيانات شهريا
                </li>
                <li class="py-4 border-bottom">
                  عدد لا نهائى من الصفحات والاقسام
                </li>
                <li class="py-4 border-bottom">
                  عدد لا نهائي من قواعد البيانات
                </li>
                <li class="py-4 border-bottom">عدد لا نهائي من حسابات FTP</li>
                <li class="py-4 border-bottom">باقي خواص الباقة غير محدودة</li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">أطلب العرض الأن</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Features hosting -->
<section class="sec-block change features overflow-hidden" id="features-hosting">
  <div class="container">
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="مميزات الاستضافة">مميزات الاستضافة</h2>
    </div>
    <div class="sec-content mt--45">
      <div class="row justify-content-center">
        @@for (var item = 0; item < hostingFeatures.length; item++){
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4 mt-md-5">
          <div class="card-item text-center">
            <figure class="mx-auto border-0 h-auto">
              <svg class="resize-svg svg-fill-yellowish">
                <use
                  xlink:href=@@webRoot/assets/img/sprite.svg#icon-`+hostingFeatures[item].svg+`
                ></use>
                <title>`+hostingFeatures[item].title+`</title>
              </svg>
            </figure>
            <h4 class="card-name mb-3 mb-md-4 f25">
              `+hostingFeatures[item].title+`
            </h4>
            <p class="card-desc is-dimmed">`+hostingFeatures[item].desc+`</p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>


@@include('./includes/contact.html', {"webRoot": "."})

@@include('./includes/footer.html', {"webRoot": "."})
