@@include( './includes/header.html', {"webRoot": ".", "document-title":
"EcoMillin-mobile", "page-id": "mobile"} )

<!-- Header -->
<header id="header" class="header overflow-hidden">
  <!--  -->
  <div class="container h-100">
    <!--  -->
    <div class="row align-items-center h-100 opacity-0" data-anim="slideUp">
      <!--  -->
      <div class="header__info col text-center">
        <!--  -->
        <figure role="icon" class="header__icon set-size-icon">
          <img src="@@webRoot/assets/img/mobile-phone-2.svg" alt="" />
        </figure>
        <h1 role="head-title" class="f50 is-accent my-4 my-lg-5">
          تصميم تطبيقات الجوال
        </h1>
        <p role="description" class="f16 text-white w-75 mx-auto my-4 lh-lg">
          تحتاج الى تصميم موقع الكتروني ، تصميم موقع شركة تصميم متجر الكتروني
          تصميم حراج تصميم موقع خاص أو أفضل شركة تصميم مواقع فى الوطن العربي ،
          أنت الآن امام أفضل شركة تصميم مواقع على الانترنت تهتم بتقديم أعلى جودة
        </p>
        <a role="link" class="btn yellowish px-4" href="#">
          <img class="ms-2" src="@@webRoot/assets/img/send.svg" alt="" />
          <span class="align-middle">أطلب تصميمك الأن</span>
        </a>
      </div>
    </div>
  </div>
</header>

<!-- Section your own app -->
<section
  class="own-app overflow-hidden opacity-0"
  data-anim="slideUp"
  id="own-app"
>
  <!--  -->
  <div class="container">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="امتلك تطبيقك الخاص">امتلك تطبيقك الخاص</h2>
    </div>
    <!--  -->
    <div class="row justify-content-between bg-light-2 pt-3 px-2">
      @@for(var item = 0; item < mobile.fetures.length; item++) {
      <!--  -->
      <div
        class="
          flex-basis-app
          d-flex
          mb-3
          align-items-center
          py-3
          shadows-app
          bg-white
        "
      >
        <figure role="svg" class="flex-shrink-0 mx-2 py-2 rounded">
          <svg class="resize-svg-date">
            <use
            xlink:href="@@webRoot/assets/img/sprite.svg#icon-check"
            >
            <title>check</title>
          </svg>
        </figure>
        <p>`+mobile.fetures[item].desc+`</p>
      </div>
      }
    </div>
  </div>
</section>

@@include('./includes/faq.html', {"webRoot": "."})

<!-- Success techniques section -->
<section class="sec-block change overflow-hidden" id="tools">
  <!--  -->
  <div class="container">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="تستحق أفضل تقنيات النجاح">
        تستحق أفضل تقنيات النجاح
      </h2>
    </div>
    <!--  -->
    <div class="sec-content opacity-0" data-anim="slideUp">
      <div class="row justify-content-center">
        @@for (var item = 0; item < tools.length; item++){
        <div class="col-sm-6 col-lg-4 mt-4 mt-md-5">
          <div class="card-item text-center">
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/`+tools[item].img+` alt="">
            </figure>
            <h4 class="card-name mb-3 mb-md-4 f25">`+tools[item].title+`</h4>
            <p class="card-desc is-dimmed">`+tools[item].desc+`</p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>

<!-- works section -->
<section
  class="sec-block sec-block--site overflow-hidden bg-light-primary"
  id="works"
>
  <div class="container">
    <div class="sec-head text-center">
      <h2 class="title" data-text="أعمال ابتدي">أعمال ابتدي</h2>
      <h2 class="is-primary f50">شريكنا في النجاح</h2>
    </div>
    <div class="sec-content">
      <div class="row position-relative">
        <div class="col-12">
          <div class="slider owl-carousel nav-blueish">
            @@for (var item = 0; item < slider.length; item++){
            <a class="slider-item text-center d-block" href="#" target="_blank">
              <figure class="mx-auto">
                <img src=@@webRoot/assets/img/slider/`+slider[item]+` alt="">
              </figure>
              <div class="hover">
                <img src="@@webRoot/assets/img/logo.png" alt="" />
                <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
              </div>
            </a>
            }
          </div>
        </div>
        <a
          href=""
          class="
            btn
            blueish
            position-absolute
            bottom-0
            start-0
            ms-2
            w-auto
            z-index-10
          "
          target="_blank"
          >شاهد كل أعمال إبتدي</a
        >
      </div>
    </div>
  </div>
</section>

<!-- works 2 section -->
<section class="sec-block overflow-hidden" id="works2">
  <div class="container">
    <div class="sec-head text-center">
      <h2 class="title" data-text="أعمالنا في التصميم والانتاج">
        أعمالنا في التصميم والانتاج
      </h2>
    </div>
    <div class="sec-content">
      <div class="row position-relative">
        <div class="col-12">
          <div class="slider owl-carousel nav-yellowish">
            @@for (var item = 0; item < slider.length; item++){
            <a class="slider-item text-center d-block" href="#" target="_blank">
              <figure class="mx-auto">
                <img src=@@webRoot/assets/img/slider/`+slider[item]+` alt="">
              </figure>
              <div class="hover">
                <img src="@@webRoot/assets/img/logo.png" alt="" />
                <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
              </div>
            </a>
            }
          </div>
        </div>
        <a
          href=""
          class="
            btn
            yellowish
            position-absolute
            bottom-0
            start-0
            ms-2
            w-auto
            z-index-10
          "
          target="_blank"
          >كل أعمال التصميم والإنتاج</a
        >
      </div>
    </div>
  </div>
</section>

@@include('./includes/contact.html', {"webRoot": "."})
@@include('./includes/footer.html', {"webRoot": "."})
