@@include( './includes/header.html', {"webRoot": ".", "document-title":
"EcoMillion-mobile", "page-id": "mobile"} )

<!-- Header -->
<section id="header" class="header">
  <!--  -->
  <div class="container h-100">
    <!--  -->
    <div class="row align-items-center h-100">
      <!--  -->
      <div class="header__info col text-center">
        <!--  -->
        <figure role="icon" class="header__icon set-size-icon">
          <img src="@@webRoot/assets/img/mobile-phone-2.svg" alt="" />
        </figure>
        <h1 role="head-title" class="f50 is-accent my-4 my-lg-5">
          تصميم تطبيقات الجوال
        </h1>
        <p role="description" class="f16 text-white w-75 mx-auto my-4 lh-lg">
          تحتاج الى تصميم موقع الكتروني ، تصميم موقع شركة تصميم متجر الكتروني
          تصميم حراج تصميم موقع خاص أو أفضل شركة تصميم مواقع فى الوطن العربي ،
          أنت الآن امام أفضل شركة تصميم مواقع على الانترنت تهتم بتقديم أعلى جودة
        </p>
        <a role="link" class="btn yellowish" href="#">
          <img class="ms-2" src="@@webRoot/assets/img/send.svg" alt="" />
          <span class="align-middle">أطلب تصميمك الأن</span>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Section your own app -->
<section class="own-app overflow-hidden" id="own-app">
  <!--  -->
  <div class="container">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="امتلك تطبيقك الخاص">امتلك تطبيقك الخاص</h2>
    </div>
    <!--  -->
    <div class="row justify-content-between bg-light-2">
      <!--  -->
      <div
        class="flex-basis-app d-flex mb-3 align-items-center py-3 shadows-app bg-white"
      >
        <i class="fas fa-check is-accent f30 mx-3"></i>
        <p>ايجاد الفكرة المناسبة للتطبيق او تطوير وتحسين الفكرة التي لديك</p>
      </div>
      <!--  -->
      <div
        class="flex-basis-app d-flex mb-3 align-items-center py-3 shadows-app bg-white"
      >
        <i class="fas fa-check is-accent f30 mx-3"></i>
        <p>اعتماد وحجز اسم التطبيق وتصميم الشعار الخاص به</p>
      </div>
      <!--  -->
      <div
        class="flex-basis-app d-flex mb-3 align-items-center py-3 shadows-app bg-white"
      >
        <i class="fas fa-check is-accent f30 mx-3"></i>
        <p>دراسة الفكرة والتاكد من جدوى عملها في السوق المطلوب</p>
      </div>
      <!--  -->
      <div
        class="flex-basis-app d-flex mb-3 align-items-center py-3 shadows-app bg-white"
      >
        <i class="fas fa-check is-accent f30 mx-3"></i>
        <p>
          بحث ودراسة مميزات وصفحات وشاشات التطبيق وكيف تعمل مع عمل WireFraming
        </p>
      </div>
      <!--  -->
      <div
        class="flex-basis-app d-flex mb-3 align-items-center py-3 shadows-app bg-white"
      >
        <i class="fas fa-check is-accent f30 mx-3"></i>
        <p>تصميم صفحات التطبيق بشكل احترافي ومناسب</p>
      </div>
      <!--  -->
      <div
        class="flex-basis-app d-flex mb-3 align-items-center py-3 shadows-app bg-white"
      >
        <i class="fas fa-check is-accent f30 mx-3"></i>
        <p>
          عمل ملف كامل بجميع مايتعلق ب التطبيق وتفاصيله ويمكن عرضه على
          المستثمرين
        </p>
      </div>
      <!--  -->
      <div
        class="flex-basis-app d-flex mb-3 align-items-center py-3 shadows-app bg-white"
      >
        <i class="fas fa-check is-accent f30 mx-3"></i>
        <p>
          برمجة التطبيق بأحدث اللغات البرمجية التي تحقق أسرع اداء وأعلى استقرار
        </p>
      </div>
      <!--  -->
      <div
        class="flex-basis-app d-flex mb-3 align-items-center py-3 shadows-app bg-white"
      >
        <i class="fas fa-check is-accent f30 mx-3"></i>
        <p>توفير سيرفر خاص بالمواصفات المناسبة لحجم التطبيق</p>
      </div>
      <!--  -->
      <div
        class="flex-basis-app d-flex mb-3 align-items-center py-3 shadows-app bg-white"
      >
        <i class="fas fa-check is-accent f30 mx-3"></i>
        <p>رفع التطبيق على منصة ابستور و بلاي ستور</p>
      </div>
      <!--  -->
      <div
        class="flex-basis-app d-flex mb-3 align-items-center py-3 shadows-app bg-white"
      >
        <i class="fas fa-check is-accent f30 mx-3"></i>
        <p>الدعم الفني الحقيقي والمتواصل باستمرار بعد رفع ونشر التطبيق</p>
      </div>
    </div>
  </div>
</section>

<!-- Section FAQ -->
<section class="faq overflow-hidden" id="faq">
  <!--  -->
  <div class="container">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="الأسئلة الشائعة">الأسئلة الشائعة</h2>
    </div>
    <!--  -->
    <div class="row">
      <div class="accordion" id="accordionExample">
        <!--  -->
        <div class="accordion-item mb-3 rounded-0 border-0 shadows-app">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button rounded-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <span
                class="accordion__badge d-flex justify-content-center align-items-center ms-3"
                >1</span
              >
              <span class="fRegular"
                >لماذا يجب ان تبدأ بـ عمل تطبيق ذكي الان؟</span
              >
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على
              تطبيقات الجوال والمواقع وهذي التطبيقات والمواقع تكسب ملايين من هذه
              الزيارات.. السعودية هي الدولة رقم ١ في زيارات اليوتيوب, يجب ان
              تستغل هذه الرغبه الكبيرة على الانترنت وتربح من خلالها, الكثير من
              المشاريع العربية نجحت واصحابها باعوها بملايين الدولارات واخرها
              موقع طلبات دوت كوم تم بيعه ب ١٥٠ مليون دولار وموقع مكتوب قبله تم
              بيعه ب ١٠٠ مليون وسوق دوت كوم باكثر من مليار دولار، كل هذا يدل على
              ان المشاريع الرقمية الان هي المستقبل وهي الاكثر ربحاً
            </div>
          </div>
        </div>
        <!--  -->
        <div class="accordion-item mb-3 rounded-0 border-0 shadows-app">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed rounded-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <span
                class="accordion__badge d-flex justify-content-center align-items-center ms-3"
                >2</span
              >
              <span class="fRegular">ماذا تقدم لي خدماتكم؟</span>
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على
              تطبيقات الجوال والمواقع وهذي التطبيقات والمواقع تكسب ملايين من هذه
              الزيارات.. السعودية هي الدولة رقم ١ في زيارات اليوتيوب, يجب ان
              تستغل هذه الرغبه الكبيرة على الانترنت وتربح من خلالها, الكثير من
              المشاريع العربية نجحت واصحابها باعوها بملايين الدولارات واخرها
              موقع طلبات دوت كوم تم بيعه ب ١٥٠ مليون دولار وموقع مكتوب قبله تم
              بيعه ب ١٠٠ مليون وسوق دوت كوم باكثر من مليار دولار، كل هذا يدل على
              ان المشاريع الرقمية الان هي المستقبل وهي الاكثر ربحاً
            </div>
          </div>
        </div>
        <!--  -->
        <div class="accordion-item mb-3 rounded-0 border-0 shadows-app">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed rounded-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <span
                class="accordion__badge d-flex justify-content-center align-items-center ms-3"
                >3</span
              >
              <span class="fRegular">لماذا استثمر ب تطبيق ذكي؟</span>
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على
              تطبيقات الجوال والمواقع وهذي التطبيقات والمواقع تكسب ملايين من هذه
              الزيارات.. السعودية هي الدولة رقم ١ في زيارات اليوتيوب, يجب ان
              تستغل هذه الرغبه الكبيرة على الانترنت وتربح من خلالها, الكثير من
              المشاريع العربية نجحت واصحابها باعوها بملايين الدولارات واخرها
              موقع طلبات دوت كوم تم بيعه ب ١٥٠ مليون دولار وموقع مكتوب قبله تم
              بيعه ب ١٠٠ مليون وسوق دوت كوم باكثر من مليار دولار، كل هذا يدل على
              ان المشاريع الرقمية الان هي المستقبل وهي الاكثر ربحاً
            </div>
          </div>
        </div>
        <!--  -->
        <div class="accordion-item mb-3 rounded-0 border-0 shadows-app">
          <h2 class="accordion-header" id="headingFour">
            <button
              class="accordion-button collapsed rounded-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              <span
                class="accordion__badge d-flex justify-content-center align-items-center ms-3"
                >4</span
              >
              <span class="fRegular">ما هي مدة العمل؟</span>
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على
              تطبيقات الجوال والمواقع وهذي التطبيقات والمواقع تكسب ملايين من هذه
              الزيارات.. السعودية هي الدولة رقم ١ في زيارات اليوتيوب, يجب ان
              تستغل هذه الرغبه الكبيرة على الانترنت وتربح من خلالها, الكثير من
              المشاريع العربية نجحت واصحابها باعوها بملايين الدولارات واخرها
              موقع طلبات دوت كوم تم بيعه ب ١٥٠ مليون دولار وموقع مكتوب قبله تم
              بيعه ب ١٠٠ مليون وسوق دوت كوم باكثر من مليار دولار، كل هذا يدل على
              ان المشاريع الرقمية الان هي المستقبل وهي الاكثر ربحاً
            </div>
          </div>
        </div>
        <!--  -->
        <div class="accordion-item mb-3 rounded-0 border-0 shadows-app">
          <h2 class="accordion-header" id="headingFife">
            <button
              class="accordion-button collapsed rounded-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFife"
              aria-expanded="false"
              aria-controls="collapseFife"
            >
              <span
                class="accordion__badge d-flex justify-content-center align-items-center ms-3"
                >5</span
              >
              <span class="fRegular">ما هي طريقة العمل؟</span>
            </button>
          </h2>
          <div
            id="collapseFife"
            class="accordion-collapse collapse"
            aria-labelledby="headingFife"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على
              تطبيقات الجوال والمواقع وهذي التطبيقات والمواقع تكسب ملايين من هذه
              الزيارات.. السعودية هي الدولة رقم ١ في زيارات اليوتيوب, يجب ان
              تستغل هذه الرغبه الكبيرة على الانترنت وتربح من خلالها, الكثير من
              المشاريع العربية نجحت واصحابها باعوها بملايين الدولارات واخرها
              موقع طلبات دوت كوم تم بيعه ب ١٥٠ مليون دولار وموقع مكتوب قبله تم
              بيعه ب ١٠٠ مليون وسوق دوت كوم باكثر من مليار دولار، كل هذا يدل على
              ان المشاريع الرقمية الان هي المستقبل وهي الاكثر ربحاً
            </div>
          </div>
        </div>
        <!--  -->
        <div class="accordion-item mb-3 rounded-0 border-0 shadows-app">
          <h2 class="accordion-header" id="headingSix">
            <button
              class="accordion-button collapsed rounded-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
              <span
                class="accordion__badge d-flex justify-content-center align-items-center ms-3"
                >6</span
              >
              <span class="fRegular">ما هي تكلفة العمل؟</span>
            </button>
          </h2>
          <div
            id="collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="headingSix"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على
              تطبيقات الجوال والمواقع وهذي التطبيقات والمواقع تكسب ملايين من هذه
              الزيارات.. السعودية هي الدولة رقم ١ في زيارات اليوتيوب, يجب ان
              تستغل هذه الرغبه الكبيرة على الانترنت وتربح من خلالها, الكثير من
              المشاريع العربية نجحت واصحابها باعوها بملايين الدولارات واخرها
              موقع طلبات دوت كوم تم بيعه ب ١٥٠ مليون دولار وموقع مكتوب قبله تم
              بيعه ب ١٠٠ مليون وسوق دوت كوم باكثر من مليار دولار، كل هذا يدل على
              ان المشاريع الرقمية الان هي المستقبل وهي الاكثر ربحاً
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Success techniques section -->
<section class="sec-block change overflow-hidden" id="tools">
  <!--  -->
  <div class="container">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="تستحق أفضل تقنيات النجاح">
        تستحق أفضل تقنيات النجاح
      </h2>
    </div>
    <!--  -->
    <div class="sec-content">
      <div class="row justify-content-center">
        @@for (var item = 0; item < tools.length; item++){
        <div class="col-6 col-md-4 mt-4 mt-md-5">
          <div class="card-item text-center">
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/`+tools[item].img+` alt="">
            </figure>
            <h4 class="card-name mb-3 mb-md-4 f25">`+tools[item].title+`</h4>
            <p class="card-desc is-dimmed">`+tools[item].desc+`</p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>

<!-- works section -->
<section
  class="sec-block sec-block--site overflow-hidden bg-light-primary"
  id="works"
>
  <div class="container">
    <div class="sec-head text-center">
      <h2 class="title" data-text="أعمال ابتدي">أعمال ابتدي</h2>
      <h2 class="is-primary f50">شريكنا في النجاح</h2>
    </div>
    <div class="sec-content">
      <div class="row position-relative">
        <div class="col-12">
          <div class="slider owl-carousel nav-blueish">
            @@for (var item = 0; item < slider.length; item++){
            <a class="slider-item text-center d-block" href="#" target="_blank">
              <figure class="mx-auto">
                <img src=@@webRoot/assets/img/slider/`+slider[item]+` alt="">
              </figure>
              <div class="hover">
                <img src="@@webRoot/assets/img/logo.png" alt="" />
                <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
              </div>
            </a>
            }
          </div>
        </div>
        <a
          href=""
          class="btn blueish position-absolute bottom-0 start-0 ms-2 w-auto"
          >شاهد كل أعمال إبتدي</a
        >
      </div>
    </div>
  </div>
</section>

<!-- works 2 section -->
<section class="sec-block overflow-hidden" id="works2">
  <div class="container">
    <div class="sec-head text-center">
      <h2 class="title" data-text="أعمالنا في التصميم والانتاج">
        أعمالنا في التصميم والانتاج
      </h2>
    </div>
    <div class="sec-content">
      <div class="row position-relative">
        <div class="col-12">
          <div class="slider owl-carousel nav-yellowish">
            @@for (var item = 0; item < slider.length; item++){
            <a class="slider-item text-center d-block" href="#" target="_blank">
              <figure class="mx-auto">
                <img src=@@webRoot/assets/img/slider/`+slider[item]+` alt="">
              </figure>
              <div class="hover">
                <img src="@@webRoot/assets/img/logo.png" alt="" />
                <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
              </div>
            </a>
            }
          </div>
        </div>
        <a
          href=""
          class="btn yellowish position-absolute bottom-0 start-0 ms-2 w-auto"
          >كل أعمال التصميم والإنتاج</a
        >
      </div>
    </div>
  </div>
</section>

<!-- Contact section -->
<section class="sec-block change overflow-hidden" id="contact">
  <div class="container">
    <div class="sec-head text-center">
      <h2 class="title" data-text="رسالة سريعة">رسالة سريعة</h2>
    </div>
    <div class="sec-content">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <form action="">
            <input
              class="form-control p-4 mb-3"
              type="text"
              name="username"
              id="username"
              placeholder="اسمك الكريم"
            />
            <input
              class="form-control p-4 mb-3"
              type="email"
              name="email"
              id="email"
              placeholder="البريد الإلكتروني"
            />
            <textarea
              class="form-control p-4 mb-3"
              name="message"
              id="message"
              rows="5"
              placeholder="نص الرسالة"
            ></textarea>
            <input
              class="btn yellowish w-100"
              type="submit"
              value="ارسل رسالة"
            />
          </form>
        </div>
        <div class="col-md-5 mt-5 mt-md-0">
          <div class="contact-info py-5 text-center">
            <div class="d-flex flex-column">
              <i class="fas fa-phone"></i>
              <span class="f20 mt-3">0096616111</span>
            </div>
            <div class="d-flex flex-column my-4">
              <i class="fab fa-whatsapp"></i>
              <span class="f20 mt-3">0096616111</span>
            </div>
            <div class="d-flex flex-column">
              <i class="fas fa-envelope-open-text"></i>
              <span class="f20 mt-3">info@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('./includes/footer.html', {"webRoot": "."})
