@@include( './includes/header.html', {"webRoot": ".", "document-title":
"EcoMillion-motion-graphic", "page-id": "motion-graphic"} )

<!-- Header -->
<header class="header" id="header">
  <!--  -->
  <div class="container h-100">
    <!--  -->
    <div
      class="
        row
        g-0
        align-items-center
        justify-content-center align-content-center justify-content-lg-between
        h-100
      "
    >
      <div class="col-md-6 opacity-0" role="info" data-anim="slideRight">
        <h1 role="head-title" class="f50 is-accent my-4 my-lg-5">
         الموشن جرافيك
        </h1>
        <p role="description" class="f16 text-white mb-2 mb-lg-5 mx-auto my-4 lh-lg">
       يزيد المحتوى المثير للاهنمام و الصور اللافتة والموسيقى التي تحرك الروح من تقريب المنتج لمشاعر العميل ،وهذا يعني اذا شاهد المشتري فيديو عن منتجك سيتفاعل معه ومن المرجح أن يزور موقع الويب او يشتري المنتج المعروض أو حتى يضاعف حجم الطلب.
        </p>
      </div>
      <!--  -->
      <figure
        class="col-md-6 my-3 px-3 col-lg-5 text-center opacity-0"
        role="image"
        data-anim="slideLeft"
      >
        <img class="img-fluid h-vw-30" src="@@webRoot/assets/img/motion.svg" alt="" />
      </figure>
    </div>
  </div>
</header>

<!-- Offers -->
<section id="offers" class="offers opacity-0" data-anim="slideUp">
  <!--  -->
  <div class="container overflow-hidden">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="لأنك تستحق الأفضل وفرنا لك أفضل الباقات
      ">لأنك تستحق الأفضل وفرنا لك أفضل الباقات
    </h2>
    </div>
    <!--  -->
    <div class="row">
      <!--  -->
      <div class="offers__category">
        <div class="row justify-content-between g-0">
        <!--  -->
        <div
            class="offers__category__card flex-basis-offers mb-3 mb-lg-0 shadows flex-grow-0"
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                الفضية
              </p>
              <!--  -->
              <p
                class="offers__category__card__price text-center px-3 py-2 f30 fBold"
              >
                <span>1999</span>
                <span class="f16">ريال</span>
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">اجمالي المقطع للدقيقة</li>
                <li class="py-4 border-bottom">سعر الثانية : 25 ر.س</li>
                <li class="py-4 border-bottom">نستخدم برامج الأفترإفكت - الإليستراتور</li>
                <li class="py-4 border-bottom">نموذج عمل فيديو</li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">اطلب الان</a>
            </div>
        </div>
        <!--  -->
        <div
            class="offers__category__card flex-basis-offers mb-3 mb-lg-0 shadows flex-grow-0"
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                الذهبية
              </p>
              <!--  -->
              <p
                class="offers__category__card__price text-center px-3 py-2 f30 fBold"
              >
                <span>1999</span>
                <span class="f16">ريال</span>
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">اجمالي المقطع للدقيقة</li>
                <li class="py-4 border-bottom">سعر الثانية : 25 ر.س</li>
                <li class="py-4 border-bottom">نستخدم برامج الأفترإفكت - الإليستراتور</li>
                <li class="py-4 border-bottom">نموذج عمل فيديو</li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">اطلب الان</a>
            </div>
        </div>
        <!--  -->
        <div
            class="offers__category__card flex-basis-offers mb-3 mb-lg-0 shadows flex-grow-0"
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                الماسية
              </p>
              <!--  -->
              <p
                class="offers__category__card__price text-center px-3 py-2 f30 fBold"
              >
                <span>1999</span>
                <span class="f16">ريال</span>
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">اجمالي المقطع للدقيقة</li>
                <li class="py-4 border-bottom">سعر الثانية : 25 ر.س</li>
                <li class="py-4 border-bottom">نستخدم برامج الأفترإفكت - الإليستراتور</li>
                <li class="py-4 border-bottom">نموذج عمل فيديو</li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">اطلب الان</a>
            </div>
        </div>
        <!--  -->
        <div
            class="offers__category__card flex-basis-offers mb-3 mb-lg-0 shadows flex-grow-0"
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                المتخصصة
              </p>
              <!--  -->
              <p
                class="offers__category__card__price text-center px-3 py-2 f30 fBold"
              >
              سعر غير محدد
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">اجمالي المقطع للدقيقة</li>
                <li class="py-4 border-bottom">سعر الثانية : غير محدد</li>
                <li class="py-4 border-bottom">نستخدم برامج الأفترإفكت - الإليستراتور</li>
                <li class="py-4 border-bottom">نموذج عمل فيديو</li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">تواصل معنا</a>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- works section -->
<section class="sec-block overflow-hidden p-0 mt-3 opacity-0" data-anim="slideDown" id="works2">
    <div class="container">
        <div class="sec-head text-center margin-title-section">
            <h2 class="title" data-text="أعمالنا في الموشن جرافيك">
               أعمالنا في الموشن جرافيك
            </h2>
        </div>
        <div class="sec-content margin-100">
            <div class="row position-relative">
                <div class="col-12">
                    <div class="slider owl-carousel nav-yellowish">
                        @@for (var item = 0; item < slider.length; item++){ <div class="slider-item text-center">
                            <figure class="mx-auto"><img src=@@webRoot/assets/img/slider/`+slider[item]+` alt="">
                            </figure>
                            <div class="hover">
                                <img src="@@webRoot/assets/img/logo.png" alt="">
                                <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
                            </div>
                    </div>
                    }
                </div>
            </div>
            <a href="https://google.com" class="btn yellowish position-absolute z-index-10 bottom-0 start-0 ms-2 w-auto" target="_blank">شاهد كل الأعمال</a>
        </div>
    </div>
    </div>
</section>

@@include('./includes/footer.html', {"webRoot": "."})
