@@include( './includes/header.html', {"webRoot": ".", "document-title":
"EcoMillin-business", "page-id": "our-business"} )

<!-- Header -->
<header id="header" class="header overflow-hidden">
  <!--  -->
  <div class="container h-100">
    <!--  -->
    <div class="row align-items-center h-100 opacity-0" data-anim="slideUp">
      <!--  -->
      <div class="header__info col text-center">
        <h1 role="head-title" class="f50 is-accent my-4 my-lg-5">
          أعمال إبتدي
        </h1>
        <h2 role="head-title" class="f35 is-accent my-4 my-lg-5">
          ( شريكنا في النجاح )
        </h2>
        <p role="description" class="f16 text-white w-75 mx-auto my-4 lh-lg">
          تحتاج الى تصميم موقع الكتروني ، تصميم موقع شركة تصميم متجر الكتروني
          تصميم حراج تصميم موقع خاص أو أفضل شركة تصميم مواقع فى الوطن العربي ،
          أنت الآن امام أفضل شركة تصميم مواقع على الانترنت تهتم بتقديم أعلى جودة
        </p>
      </div>
    </div>
  </div>
</header>

<!-- Gallary -->
<section class="allBusiness opacity-0" id="allBusiness" data-anim="slideUp">
  <div class="container">
    <!--  -->
    <div class="row g-0 flex-column mt-3 mt-lg-5 pt-3 pt-lg-5">
      <!--  -->
      <div class="col allBusiness__items__outer position-relative">
        <ul
          class="
            allBusiness__items
            max-width
            list-unstyled
            position-relative
            d-flex
            justify-content-between
            overflow-hidden
          "
          id="navbar-portfolio"
        >
          <li
            class="
              btn btn-outline-yellowish btn
              btn-outline-yellowish--active
              width-150
              f16
              fRegular
              flex-shrink-0
              allBusiness__items__item
            "
            data-select="all"
          >
            كل الأعمال
          </li>
          <li
            class="
              btn btn-outline-yellowish
              width-150
              f16
              fRegular
              flex-shrink-0
              allBusiness__items__item
            "
            data-select="programing"
          >
            البرمجة الخاصة
          </li>
          <li
            class="
              btn btn-outline-yellowish
              width-150
              f16
              fRegular
              flex-shrink-0
              allBusiness__items__item
            "
            data-select="pay-sale"
          >
            الحراج الالكتروني
          </li>
          <li
            class="
              btn btn-outline-yellowish
              width-150
              f16
              fRegular
              flex-shrink-0
              allBusiness__items__item
            "
            data-select="sites-companies"
          >
            مواقع الشركات
          </li>
          <li
            class="
              btn btn-outline-yellowish
              width-150
              f16
              fRegular
              flex-shrink-0
              allBusiness__items__item
            "
            data-select="stores"
          >
            المتاجر الالكترونية
          </li>
          <li
            class="
              btn btn-outline-yellowish
              width-150
              f16
              fRegular
              flex-shrink-0
              allBusiness__items__item
            "
            data-select="personal-sites"
          >
            المواقع الشخصية
          </li>
          <li
            class="
              btn btn-outline-yellowish
              width-150
              f16
              fRegular
              flex-shrink-0
              allBusiness__items__item
            "
            data-select="app-mobile"
          >
            تطبيقات الجوال
          </li>
          <li
            class="
              btn btn-outline-yellowish
              width-150
              f16
              fRegular
              flex-shrink-0
              allBusiness__items__item
            "
            data-select="trademarks"
          >
            العلامات التجارية
          </li>
        </ul>
      </div>

      <!--  -->
      <div class="col mt-3 mt-lg-5 pt-3 pt-lg-5">
        <div class="row g-0 justify-content-between" id="portfolio">
          <!--  -->
          <a
            class="flex-basis-gallary slider-item mb-4 text-center all pay-sale"
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/fat.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
          <!--  -->
          <a
            class="flex-basis-gallary slider-item mb-4 text-center all stores"
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/abqary.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
          <!--  -->
          <a
            class="
              flex-basis-gallary
              slider-item
              mb-4
              text-center
              all
              app-mobile
            "
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/abqary.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
          <!--  -->
          <a
            class="
              flex-basis-gallary
              slider-item
              mb-4
              text-center
              all
              programing
            "
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/abqary.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
          <!--  -->
          <a
            class="
              flex-basis-gallary
              slider-item
              text-center
              mb-4
              all
              sites-companies
            "
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/man.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
          <!--  -->
          <a
            class="
              flex-basis-gallary
              slider-item
              text-center
              mb-4
              all
              personal-sites
            "
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/ki.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
          <!--  -->
          <a
            class="
              flex-basis-gallary
              slider-item
              mb-4
              text-center
              all
              trademarks
            "
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/abqary.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
          <!--  -->
          <a
            class="
              flex-basis-gallary
              slider-item
              text-center
              mb-4
              all
              sites-companies
            "
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/ki.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
          <!--  -->
          <a
            class="flex-basis-gallary slider-item mb-4 text-center all pay-sale"
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/abqary.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
          <!--  -->
          <a
            class="
              flex-basis-gallary
              slider-item
              mb-4
              text-center
              all
              app-mobile
            "
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/man.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
          <!--  -->
          <a
            class="
              flex-basis-gallary
              slider-item
              mb-4
              text-center
              all
              programing
            "
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/fat.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
          <!--  -->
          <a
            class="
              flex-basis-gallary
              slider-item
              text-center
              mb-4
              all
              sites-companies
            "
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/abqary.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
          <!--  -->
          <a
            class="
              flex-basis-gallary
              slider-item
              text-center
              mb-4
              all
              personal-sites
            "
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/man.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
          <!--  -->
          <a
            class="flex-basis-gallary slider-item mb-4 text-center all stores"
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/abqary.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
          <!--  -->
          <a
            class="
              flex-basis-gallary
              slider-item
              mb-4
              text-center
              all
              programing
            "
            href="#"
            target="_blank"
          >
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/slider/fat.png alt="">
            </figure>
            <div class="hover">
              <img src="@@webRoot/assets/img/logo.png" alt="" />
              <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('./includes/contact.html', {"webRoot": "."})
@@include('./includes/footer.html', {"webRoot": "."})
