@@include( './includes/header.html', {"webRoot": ".", "document-title":
"EcoMillin-site", "page-id": "site"} )

<!-- Header -->
<header id="header" class="header overflow-hidden">
  <!--  -->
  <div class="container h-100">
    <!--  -->
    <div class="row align-items-center h-100 opacity-0" data-anim="slideUp">
      <!--  -->
      <div class="header__info col text-center">
        <!--  -->
        <figure role="icon" class="header__icon set-size-icon">
          <img src="@@webRoot/assets/img/device-yellowish.svg" alt="" />
        </figure>
        <h1 role="head-title" class="f50 is-accent my-4 my-lg-5">
          موقع للمستقبل
        </h1>
        <p role="description" class="f16 text-white w-75 mx-auto my-4 lh-lg">
          تحتاج الى تصميم موقع الكتروني ، تصميم موقع شركة تصميم متجر الكتروني
          تصميم حراج تصميم موقع خاص أو أفضل شركة تصميم مواقع فى الوطن العربي ،
          أنت الآن امام أفضل شركة تصميم مواقع على الانترنت تهتم بتقديم أعلى جودة
        </p>
        <a role="link" class="btn yellowish px-4" href="#">
          <img class="ms-2" src="@@webRoot/assets/img/send.svg" alt="" />
          <span class="align-middle">أطلب تصميمك الأن</span>
        </a>
      </div>
    </div>
  </div>
</header>

<!-- Offers -->
<section id="offers" class="offers opacity-0" data-anim="slideUp">
  <!--  -->
  <div class="container overflow-hidden">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="عروض وباقات تصميم المواقع">
        عروض وباقات تصميم المواقع
      </h2>
    </div>
    <!--  -->
    <div class="row">
      <!--  -->
      <div class="offers__category">
        <div class="row justify-content-between g-0">
          <!--  -->
          <div
            class="
              offers__category__card
              flex-basis-offers
              mb-3 mb-lg-0
              shadows
              flex-grow-0
            "
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                الإقتصادي
              </p>
              <!--  -->
              <p
                class="
                  offers__category__card__price
                  text-center
                  px-3
                  py-2
                  f30
                  fBold
                "
              >
                <span>1999</span>
                <span class="f16">ريال</span>
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">مساحة 10 غيغا للاستضافة</li>
                <li class="py-4 border-bottom">
                  دومين .com او .net من اختيارك لمدة 1 سنة
                </li>
                <li class="py-4 border-bottom">
                  عدد لا نهائى من الصفحات والاقسام
                </li>
                <li class="py-4 border-bottom">عدد 10 من الايميلات الرسمية</li>
                <li class="py-4 border-bottom">
                  لغة واحدة مع امكانية اضافة أكثر من لغة
                </li>
                <li class="py-4 border-bottom">تصميم شعار احترافي تجاري</li>
                <li class="py-4 border-bottom">تصميم عدد 2 من البروفات</li>
                <li class="py-4 border-bottom">
                  تصميم واجهة الموقع باحدث التقنيات
                </li>
                <li class="py-4 border-bottom">تصميم 4 صفحات داخلية متطورة</li>
                <li class="py-4 border-bottom">
                  تصميم متجاوب مع متصفحات الجوال
                </li>
                <li class="py-4 border-bottom">
                  <img src="@@webRoot/assets/img/noSSL.png" alt="" />
                </li>
                <li class="py-4 border-bottom">
                  <img src="@@webRoot/assets/img/wor.png" alt="" />
                </li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">أطلب العرض الأن</a>
            </div>
          </div>
          <!--  -->
          <div
            class="
              offers__category__card
              flex-basis-offers
              mb-3 mb-lg-0
              shadows
              flex-grow-0
            "
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                الإحترافي
              </p>
              <!--  -->
              <p
                class="
                  offers__category__card__price
                  text-center
                  px-3
                  py-2
                  f30
                  fBold
                "
              >
                <span>3499</span>
                <span class="f16">ريال</span>
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">مساحة 10 غيغا للاستضافة</li>
                <li class="py-4 border-bottom">
                  دومين .com او .net من اختيارك لمدة 1 سنة
                </li>
                <li class="py-4 border-bottom">
                  عدد لا نهائى من الصفحات والاقسام
                </li>
                <li class="py-4 border-bottom">عدد 10 من الايميلات الرسمية</li>
                <li class="py-4 border-bottom">
                  لغة واحدة مع امكانية اضافة أكثر من لغة
                </li>
                <li class="py-4 border-bottom">تصميم شعار احترافي تجاري</li>
                <li class="py-4 border-bottom">تصميم عدد 2 من البروفات</li>
                <li class="py-4 border-bottom">
                  تصميم واجهة الموقع باحدث التقنيات
                </li>
                <li class="py-4 border-bottom">تصميم 4 صفحات داخلية متطورة</li>
                <li class="py-4 border-bottom">
                  تصميم متجاوب مع متصفحات الجوال
                </li>
                <li class="py-4 border-bottom">
                  <img src="@@webRoot/assets/img/noSSL.png" alt="" />
                </li>
                <li class="py-4 border-bottom">
                  <img src="@@webRoot/assets/img/wor.png" alt="" />
                </li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">أطلب العرض الأن</a>
            </div>
          </div>
          <!--  -->
          <div
            class="
              offers__category__card
              flex-basis-offers
              mb-3 mb-lg-0
              shadows
              flex-grow-0
            "
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                المتطور
              </p>
              <!--  -->
              <p
                class="
                  offers__category__card__price
                  text-center
                  px-3
                  py-2
                  f30
                  fBold
                "
              >
                <span>5199</span>
                <span class="f16">ريال</span>
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">مساحة 10 غيغا للاستضافة</li>
                <li class="py-4 border-bottom">
                  دومين .com او .net من اختيارك لمدة 1 سنة
                </li>
                <li class="py-4 border-bottom">
                  عدد لا نهائى من الصفحات والاقسام
                </li>
                <li class="py-4 border-bottom">عدد 10 من الايميلات الرسمية</li>
                <li class="py-4 border-bottom">
                  لغة واحدة مع امكانية اضافة أكثر من لغة
                </li>
                <li class="py-4 border-bottom">تصميم شعار احترافي تجاري</li>
                <li class="py-4 border-bottom">تصميم عدد 2 من البروفات</li>
                <li class="py-4 border-bottom">
                  تصميم واجهة الموقع باحدث التقنيات
                </li>
                <li class="py-4 border-bottom">تصميم 4 صفحات داخلية متطورة</li>
                <li class="py-4 border-bottom">
                  تصميم متجاوب مع متصفحات الجوال
                </li>
                <li class="py-4 border-bottom">
                  <img src="@@webRoot/assets/img/noSSL.png" alt="" />
                </li>
                <li class="py-4 border-bottom">
                  <img src="@@webRoot/assets/img/wor.png" alt="" />
                </li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">أطلب العرض الأن</a>
            </div>
          </div>
          <!--  -->
          <div
            class="
              offers__category__card
              flex-basis-offers
              mb-3 mb-lg-0
              shadows
              flex-grow-0
            "
          >
            <!--  -->
            <div>
              <!--  -->
              <p class="bg-primary text-center px-3 py-2 f30 is-accent">
                التجاري
              </p>
              <!--  -->
              <p
                class="
                  offers__category__card__price
                  text-center
                  px-3
                  py-2
                  f30
                  fBold
                "
              >
                حسب الطلب
              </p>
            </div>
            <!-- -->
            <div>
              <!-- All Features -->
              <ul class="list-unstyled text-center px-3">
                <li class="py-4 border-bottom">مساحة 10 غيغا للاستضافة</li>
                <li class="py-4 border-bottom">
                  دومين .com او .net من اختيارك لمدة 1 سنة
                </li>
                <li class="py-4 border-bottom">
                  عدد لا نهائى من الصفحات والاقسام
                </li>
                <li class="py-4 border-bottom">عدد 10 من الايميلات الرسمية</li>
                <li class="py-4 border-bottom">
                  لغة واحدة مع امكانية اضافة أكثر من لغة
                </li>
                <li class="py-4 border-bottom">تصميم شعار احترافي تجاري</li>
                <li class="py-4 border-bottom">تصميم عدد 2 من البروفات</li>
                <li class="py-4 border-bottom">
                  تصميم واجهة الموقع باحدث التقنيات
                </li>
                <li class="py-4 border-bottom">تصميم 4 صفحات داخلية متطورة</li>
                <li class="py-4 border-bottom">
                  تصميم متجاوب مع متصفحات الجوال
                </li>
                <li class="py-4 border-bottom">
                  <img src="@@webRoot/assets/img/noSSL.png" alt="" />
                </li>
                <li class="py-4 border-bottom">
                  <img src="@@webRoot/assets/img/wor.png" alt="" />
                </li>
              </ul>
              <!--  -->
              <a href="#" class="btn blueish d-block py-3">أطلب العرض الأن</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Success techniques section -->
<section
  class="sec-block change overflow-hidden opacity-0"
  id="tools"
  data-anim="slideUp"
>
  <!--  -->
  <div class="container">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="تستحق أفضل تقنيات النجاح">
        تستحق أفضل تقنيات النجاح
      </h2>
    </div>
    <!--  -->
    <div class="sec-content">
      <div class="row justify-content-center">
        @@for (var item = 0; item < tools.length; item++){
        <div class="col-sm-6 col-lg-4 mt-4 mt-md-5">
          <div class="card-item text-center">
            <figure class="mx-auto">
              <img src=@@webRoot/assets/img/`+tools[item].img+` alt="">
            </figure>
            <h4 class="card-name mb-3 mb-md-4 f25">`+tools[item].title+`</h4>
            <p class="card-desc is-dimmed">`+tools[item].desc+`</p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>

<!-- works section -->
<section
  class="sec-block sec-block--site overflow-hidden bg-light-primary opacity-0"
  id="works"
  data-anim="slideUp"
>
  <div class="container">
    <div class="sec-head text-center">
      <h2 class="title" data-text="أعمال ابتدي">أعمال ابتدي</h2>
      <h2 class="is-primary f50">شريكنا في النجاح</h2>
    </div>
    <div class="sec-content">
      <div class="row position-relative">
        <div class="col-12">
          <div class="slider owl-carousel nav-blueish">
            @@for (var item = 0; item < slider.length; item++){
            <a class="slider-item text-center d-block" href="#" target="_blank">
              <figure class="mx-auto">
                <img src=@@webRoot/assets/img/slider/`+slider[item]+` alt="">
              </figure>
              <div class="hover">
                <img src="@@webRoot/assets/img/logo.png" alt="" />
                <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
              </div>
            </a>
            }
          </div>
        </div>
        <a
          href=""
          class="
            btn
            blueish
            position-absolute
            bottom-0
            start-0
            ms-2
            w-auto
            z-index-10
          "
          target="_blank"
          >شاهد كل أعمال إبتدي</a
        >
      </div>
    </div>
  </div>
</section>

<!-- works 2 section -->
<section
  class="sec-block overflow-hidden opacity-0"
  id="works2"
  data-anim="slideUp"
>
  <div class="container">
    <div class="sec-head text-center">
      <h2 class="title" data-text="أعمالنا في التصميم والانتاج">
        أعمالنا في التصميم والانتاج
      </h2>
    </div>
    <div class="sec-content">
      <div class="row position-relative">
        <div class="col-12">
          <div class="slider owl-carousel nav-yellowish">
            @@for (var item = 0; item < slider.length; item++){
            <a class="slider-item text-center d-block" href="#" target="_blank">
              <figure class="mx-auto">
                <img src=@@webRoot/assets/img/slider/`+slider[item]+` alt="">
              </figure>
              <div class="hover">
                <img src="@@webRoot/assets/img/logo.png" alt="" />
                <p class="fBold mt-3">تصميم موقع تعريفي بشركة</p>
              </div>
            </a>
            }
          </div>
        </div>
        <a
          href=""
          class="
            btn
            yellowish
            position-absolute
            bottom-0
            start-0
            ms-2
            w-auto
            z-index-10
          "
          target="_blank"
          >كل أعمال التصميم والإنتاج</a
        >
      </div>
    </div>
  </div>
</section>

@@include('./includes/contact.html', {"webRoot": "."})
@@include('./includes/footer.html', {"webRoot": "."})
