@@include( './includes/header.html', {"webRoot": ".", "document-title":
"EcoMillion-social-media", "page-id": "social-media"} )

<!-- Header -->
<header class="header" id="header">
  <!--  -->
  <div class="container h-100">
    <!--  -->
    <div
      class="
        row
        g-0
        align-items-center
        justify-content-center align-content-center justify-content-lg-between
        h-100
      "
    >
      <div class="col-md-6 opacity-0" role="info" data-anim="slideRight">
        <h1 role="head-title" class="f50 is-accent my-4 my-lg-5">
          مواقع التواصل الاجتماعي
        </h1>
        <p role="description" class="f16 text-white mb-2 mb-lg-5 mx-auto my-4 lh-lg">
        يتواجد اكثر من ٢٥ مليون مستخدم على مواقع التواصل الاجتماعي في العراق، ولكن كيف تستطيع ان تصل الى لشريحتك المستهدفة في ظل هذا الرقم الكبير؟ اذا كانت صفحتك التجارية من خلال استراتيجياتنا و خبراتنا الواسعة سوف ناخذ بيدك market niche تستهدف خصوصا للوصول الى شريحتك المستهدفة بدقة.
        </p>
        <!-- Form -->
        <form id="form1" name="form1" class="row g-0 justify-content-between">
          <!--  -->
          <div class="flex-basis-form mb-2 mb-lg-0">
            <input
              type="text"
              placeholder="الاسم"
              aria-label="First name"
              class="form-control crm bg-trans text-white"
              autocomplete="off"
              id="name"
            />
            <span class="message-validation-form1 d-block" id="messageName1">
            </span>
          </div>
          <!--  -->
          <div class="flex-basis-form">
            <input
              type="tel"
              placeholder="رقم الهاتف"
              aria-label="Last name"
              class="form-control crm bg-trans text-white"
              autocomplete="off"
              id="phone"
            />
            <span class="message-validation-form1 d-block" id="messagePhone">
            </span>
          </div>
          <!--  -->
          <button type="submit" role="submit" class="btn yellowish mt-3">
            <img class="ms-2" src="@@webRoot/assets/img/send.svg" alt="" />
            <span class="align-middle">أطلب الخدمة الأن</span>
          </button>
        </form>
      </div>
      <!--  -->
      <figure
        class="col-md-6 my-3 col-lg-5 text-center opacity-0"
        role="image"
        data-anim="slideLeft"
      >
        <img class="img-fluid h-vw-30" src="@@webRoot/assets/img/social.svg" alt="" />
      </figure>
    </div>
  </div>
</header>

<!-- Section -->
<section class="sec-block change overflow-hidden opacity-0" id="tools" data-anim="slideUp">
  <!--  -->
  <div class="container">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="لأنك تستحق الأفضل">
        لأنك تستحق الأفضل
      </h2>
    </div>
    <!--  -->
    <div class="sec-content">
      <div class="row justify-content-center">
        @@for (var item = 0; item < socialMedia.features.length; item++){
        <div class="col-sm-6 col-lg-4 mt-4 mt-md-5">
          <div class="card-item text-center">
            <figure
              role="svg"
              class="flex-shrink-0 mx-auto shadows py-2 rounded"
            >
              <svg class="resize-svg svg-fill-blueish">
                <use
                xlink:href=@@webRoot/assets/img/sprite.svg#icon-`+socialMedia.features[item].icon+`
                >
                <title>`+socialMedia.features[item].icon+`</title>
              </svg>
            </figure>
            <h4 class="card-name mb-3 mb-md-4 f25 white-space-no">
              `+socialMedia.features[item].title+`
            </h4>
            <p class="card-desc is-dimmed px-lg-4 lh-lg">
              مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على تطبيقات الجوال والمواقع
            </p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>

@@include('./includes/footer.html', {"webRoot": "."})
