@@include( './includes/header.html', {"webRoot": ".", "document-title":
"EcoMillion-training-consulting", "page-id": "training-consulting"} )

<!-- Header -->
<header class="header" id="header">
  <!--  -->
  <div class="container h-100">
    <!--  -->
    <div
      class="
        row
        g-0
        align-items-center
        justify-content-center align-content-center justify-content-lg-between
        h-100
      "
    >
      <div class="col-md-6 opacity-0" role="info" data-anim="slideRight">
        <h1 role="head-title" class="f50 is-accent my-4 my-lg-5">
         التدريب والاستشارات
        </h1>
        <p role="description" class="f16 text-white mb-2 mb-lg-5 mx-auto my-4 lh-lg">
      من خالل خبرتنا التي تصل إلى 6 سنوات في مجال التجارة اإللكترونية والتسويق االلكتروني نستطيع وبكل ثقة أن نساعدك على النجاح في تجارتك اإللكترونية مهما كان حجم متجرك
        </p>
          <!-- Form -->
        <form id="form1" name="form1" class="row g-0 justify-content-between">
          <!--  -->
          <div class="flex-basis-form mb-2 mb-lg-0">
            <input
              type="text"
              placeholder="الاسم"
              aria-label="First name"
              class="form-control crm bg-trans text-white"
              autocomplete="off"
              id="name"
            />
            <span class="message-validation-form1 d-block" id="messageName1">
            </span>
          </div>
          <!--  -->
          <div class="flex-basis-form">
            <input
              type="tel"
              placeholder="رقم الهاتف"
              aria-label="Last name"
              class="form-control crm bg-trans text-white"
              autocomplete="off"
              id="phone"
            />
            <span class="message-validation-form1 d-block" id="messagePhone">
            </span>
          </div>
          <!--  -->
          <button type="submit" role="submit" class="btn yellowish mt-3">
            <img class="ms-2" src="@@webRoot/assets/img/send.svg" alt="" />
            <span class="align-middle">أطلب الخدمة الأن</span>
          </button>
        </form>
      </div>
      <!--  -->
      <figure
        class="col-md-6 my-3 px-3 col-lg-5 text-center opacity-0"
        role="image"
        data-anim="slideLeft"
      >
        <img class="img-fluid h-vw-30" src="@@webRoot/assets/img/training.svg" alt="" />
      </figure>
    </div>
  </div>
</header>

<!-- Section -->
<section id="section-one">
    <div class="container">
        <div class="row g-0 py-5 align-items-center">
            <div class="col mb-4 mb-lg-0 opacity-0" data-anim="slideRight">
                <p role="questions" class="f20 mb-3">هل تريد إنشاء متجر إلكتروني ولا تعرف من أين تبدأ؟</p>
                <p role="questions" class="f20 mb-3">كيف تتم اتمتة تجارتك الإلكترونية بالكامل؟</p>
                <p role="questions" class="f20 mb-3">سنجيب على اصعب الأسئلة والتحديات في التجارة الإلكترونية</p>
                <p role="questions" class="f20 mb-3">من اين تبدأ ؟</p>
                <p role="questions" class="f20 mb-3">كيفية شراء افضل منتج ؟</p>
                <p role="questions" class="f20">وكيف توصل منتجك لشريحته المستهدفة من خلال التسويق اإللكتروني ؟</p>
                <p role="questions" class="f20 is-primary fBold mt-4">أنت الان في طريقك الصحيح للوصول نحو المليون</p>
            </div>
             <!--  -->
            <figure
                class="col-md-5 text-center opacity-0"
                role="image"
                data-anim="slideLeft"
            >
                <img
                class="img-fluid"
                src="@@webRoot/assets/img/store.svg"
                alt=""
                />
            </figure>
        </div>
    </div>
</section>

<!-- Section -->
<section id="section-two" class="bg-light-3">
    <div class="container">
        <div class="row g-0 py-5 justify-content-between align-items-center">
             <!--  -->
            <figure
                class="col-md-4 text-center opacity-0 order-1 order-lg-0"
                role="image"
                data-anim="slideRight"
            >
                <img
                class="img-fluid"
                src="@@webRoot/assets/img/map.svg"
                alt=""
                />
            </figure>
            <!--  -->
            <div class="col-md-6 mb-4 mb-lg-0 opacity-0 order-0 order-lg-1" data-anim="slideLeft">
                <p role="questions" class="f20 px-lg-3">من خلال خبرتنا التي تصل إلى 6 سنوات في مجال التجارة اإللكترونية والتسويق الإلكتروني نستطيع وبكل ثقة أن نساعدك على النجاح في تجارتك الإلكترونية مهما كان حجم متجرك</p>
                <p role="questions" class="f20 mt-4 px-lg-3">نوفر تدريبات ميدانية واونلاين لكافة اقسام الشركات المختصة في التجارة الإكترونية وعلى ايدي خبراء في هذا المجال</p>
            </div>
            
        </div>
    </div>
</section>

<!-- Section -->
<section class="sec-block change overflow-hidden pb-5 opacity-0" data-anim="slideUp" id="tools">
  <!--  -->
  <div class="container">
    <!--  -->
    <div class="sec-head text-center margin-title-section">
      <h2 class="title" data-text="لأنك تستحق الأفضل">
        لأنك تستحق الأفضل
      </h2>
    </div>
    <!--  -->
    <div class="sec-content">
      <div class="row justify-content-center">
        @@for (var item = 0; item < trainingConsulting.features.length; item++){
        <div class="col-sm-6 col-lg-4 mt-4 mt-md-5">
          <div class="card-item text-center">
            <figure
              role="svg"
              class="flex-shrink-0 mx-auto shadows py-2 rounded"
            >
              <svg class="resize-svg svg-fill-blueish">
                <use
                xlink:href=@@webRoot/assets/img/sprite.svg#icon-`+trainingConsulting.features[item].icon+`
                >
                <title>`+trainingConsulting.features[item].icon+`</title>
              </svg>
            </figure>
            <h4 class="card-name mb-3 mb-md-4 f25 white-space-no text-capitalize">
              `+trainingConsulting.features[item].title+`
            </h4>
            <p class="card-desc is-dimmed px-lg-4 lh-lg">
          مشاريع الانترنت هي المستقبل فجميع الناس الان تقضي اوقات طويلة على تطبيقات الجوال والمواقع
            </p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>

@@include('./includes/faq.html', {"webRoot": "."})
@@include('./includes/footer.html', {"webRoot": "."})
