.accordion {
  //
  &-button {
    //
    &::after {
      margin-right: auto;
      margin-left: 0;
      height: 2rem;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%232B569F' d='M16.797 11.5c0 .125-.07.266-.16.359l-7.29 7.28c-.1.09-.24.15-.359.15 -.125 0-.266-.07-.359-.16l-7.29-7.29c-.1-.1-.16-.24-.16-.359 0-.125.06-.266.15-.359l.78-.79c.09-.1.21-.16.359-.16 .125 0 .266.06.359.15l6.14 6.14 6.141-6.141c.09-.1.23-.16.359-.16 .125 0 .266.06.359.15l.78.78c.09.09.15.23.15.359Z'/%3E%3C/svg%3E");
    }
    //
    &:not(.collapsed) {
      background-color: color(blueish);
      color: color(white);

      //
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23F6B452' d='M16.797 18.5c0 .125-.07.26-.16.35l-.79.78c-.1.09-.22.15-.359.15 -.125 0-.266-.07-.359-.16L8.98 13.47 2.84 19.62c-.1.09-.24.15-.359.15 -.125 0-.266-.07-.359-.16l-.79-.79c-.1-.1-.16-.24-.16-.36 0-.125.06-.27.15-.36l7.28-7.29c.09-.1.23-.16.359-.16 .125 0 .266.06.359.15l7.28 7.28c.09.09.15.23.15.35Z'/%3E%3C/svg%3E");
      }
    }

    &.collapsed {
      .accordion__badge {
        background-color: color(blueish);
        color: color(yellowish);
      }
    }

    //
    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }

  //
  &__badge {
    width: 40px;
    height: 40px;
    background-color: color(yellowish);
    color: color(blueish);
  }
}
