// SLIDE UP
@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

//
.anim {
  //
  &__slideUp {
    animation: slideUp 1s ease both;
    will-change: animation;
  }
}
