// SLIDE UP
@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// SLIDE DOWN
@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
// SLIDE LEFT
@keyframes slideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
// SLIDE RIGHT
@keyframes slideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

// SLIDE UP 3D
@keyframes slideUp3D {
  from {
    transform: perspective(1000px) rotateX(90deg);
    opacity: 0;
  }
  to {
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes scale1 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

//
.anim {
  $setTransition: 1s ease-in-out both;
  //
  &__slideUp {
    animation: slideUp $setTransition;
    will-change: animation;
  }

  //
  &__slideUp3D {
    animation: slideUp3D $setTransition;
    will-change: animation;
  }

  //
  &__slideDown {
    animation: slideDown $setTransition;
    will-change: animation;
  }

  //
  &__slideLeft {
    animation: slideLeft $setTransition;
    will-change: animation;
  }

  //
  &__slideRight {
    animation: slideRight $setTransition;
    will-change: animation;
  }

  //
  &-scale1 {
    //
    @media (min-width: $tablets) {
      animation: scale1 0.5s linear forwards;
    }
  }
}
