/* ========== General Classes ========== */
// colors
.is-primary {
  color: color(blueish) !important;
}
.is-accent {
  color: color(yellowish) !important;
}
.is-dimmed {
  color: color(grey);
}
.is-black {
  color: color(black);
}

.bg-primary {
  color: color(white);
  background-color: color(blueish) !important;
}
.bg-light-primary {
  background-color: rgba($blueish, 0.05);
}
.bg-light {
  background-color: color(light) !important;
}
.bg-light-2 {
  background-color: color(light-2) !important;
}
.bg-accent {
  background-color: color(yellowish);
}

// Fonts
.fBold {
  font-weight: bold;
  font-family: "dinBold";
}

.fRegular {
  font-family: "dinRegular";
  font-weight: normal;
}

.fBolder {
  font-family: "dinHeavy";
  font-weight: 900;
}
.f16 {
  font-size: 14px;
  @media (min-width: $tablets) {
    font-size: 16px;
  }
}

.f17 {
  font-size: 15px;
  @media (min-width: $tablets) {
    font-size: 17px;
  }
}

.f18 {
  font-size: 15px;
  @media (min-width: $tablets) {
    font-size: 18px;
  }
}

.f20 {
  font-size: 18px;
  @media (min-width: $phones) {
    font-size: 20px;
  }
}

.f25 {
  font-size: 20px;
  @media (min-width: $phones) {
    font-size: 25px;
  }
}

.f30 {
  font-size: 25px;
  @media (min-width: $phones) {
    font-size: 27px;
  }
  @media (min-width: $tablets) {
    font-size: 30px;
  }
}

.f40 {
  font-size: 28px;
  @media (min-width: $phones) {
    font-size: 32px;
  }
  @media (min-width: $tablets) {
    font-size: 40px;
  }
}

.f50 {
  font-family: "dinHeavy";
  font-size: 30px;
  @media (min-width: $phones) {
    font-size: 40px;
  }
  @media (min-width: $tablets) {
    font-size: 50px;
  }
}

.f60 {
  font-size: 50px;
  @media (min-width: $phones) {
    font-size: 60px;
  }
}

/* ========== General styles ========== */
a {
  color: $black;
  &:hover {
    text-decoration: none;
    color: $blueish;
    span {
      color: $blueish;
    }
  }
}

.hidden {
  display: none;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  @media (min-width: $phones) {
    font-size: 25px;
  }
}
.subtitle {
  font-size: 12px;
  color: color(grey);
  @media (min-width: $phones) {
    font-size: 14px;
  }
}

.dropdown-menu {
  border: none;
  box-shadow: 0 0 10px rgba($black, 0.15);
  @media (min-width: $tablets) {
    right: 0;
    left: -115px;
  }
}

.badge {
  display: block !important;
  width: 24px;
  height: 24px;
  line-height: 18px;
  border-radius: 4px;
  font-size: 14px;
  font-family: "dinMedium";
  color: color(white);
  background-color: color(yellowish);
}

.sec-block {
  padding: 40px 0;
  @media (min-width: $tablets) {
    padding: 100px 0;
  }

  &.change {
    @media (min-width: $tablets) {
      padding: 0;
      padding-bottom: 100px;
    }
  }
}

.sec-head {
  position: relative;
  margin-bottom: 50px;
  @media (min-width: $tablets) {
    margin-bottom: 90px;
  }
  .title {
    color: color(black);
    font-size: 26px;
    position: relative;
    @media (min-width: $phones) {
      font-size: 30px;
    }
    @media (min-width: $tablets) {
      font-size: 40px;
    }
    &::after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      color: #ededf5;
      display: block;
      z-index: -1;

      @media (min-width: $phones) {
        transform: scale(1.3);
      }

      @media (min-width: $tablets) {
        transform: scale(1.5);
      }
    }
  }
  // .btn{
  //     margin-top: 25px;
  //     // position: absolute;
  //     // top: 50%;
  //     // left: 50%;
  //     // transform: translate(-50%, -50%);
  //     @media (min-width: $tablets) {
  //         margin-top: 0;
  //         position: absolute;
  //         top: 50%;
  //         left: 0;
  //         transform: translate(0, -50%);
  //     }
  // }
}

// .add-text {
//   position: relative;

//   //
//   &::after {
//     content: "test";
//     position: absolute;
//     display: block;
//     width: 100%;
//     height: 100%;
//     top: 50%;
//     left: 50%;
//     font-size: 90;
//     color: rgb(212, 0, 255);
//     transform: translate(-50%, -50%);
//     z-index: 6;
//   }
// }

.grid {
  margin: -16px -8px;
  .slide-item {
    text-align: center;
    width: auto !important;
    height: auto;
    margin: 16px 8px;
  }
}

.main-space {
  padding: 25px 15px;
  @media (min-width: $phones) {
    padding: 50px 0;
  }
}

/* ========== Style Sharing ========== */
//
.header {
  height: 90vh;
  @include bg-base("future/header.jpg");

  //
  &__info {
    animation: slideUp 1s 0.5s ease-in-out both;
    will-change: animation;
  }
}

/* ========== Style Sections ========== */
//
.offers {
  //
  &__category {
    //
    &__card {
      transition: all 0.2s ease;

      //
      &__price {
        background-color: rgba($yellowish, 0.1);
        color: color(blueish);
      }

      //
      @media (hover: hover) {
        &:hover,
        &:hover &__price {
          background-color: color(blueish);
          color: white;
          transform: translateY(-10px);
        }

        &:hover {
          img {
            filter: invert(71%) sepia(79%) saturate(411%) hue-rotate(337deg)
              brightness(98%) contrast(96%);
          }
        }
      }
    }
  }
}

//
.performance {
  //
  &__steps {
    position: relative;
    //
    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1076' height='1.5' viewBox='0 0 1076 1.5'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:rgba(43,86,159,0.36);stroke-dasharray:5 5;%7D%3C/style%3E%3C/defs%3E%3Cline class='a' x2='1076' y2='0.5' transform='translate(0 0.5)'/%3E%3C/svg%3E");
      position: absolute;
      top: 113px;
      left: 50%;
      width: 79%;
      display: block;
      height: 2px;
      z-index: -1;
      transform: translate(-50%, -50%);

      //
      @media (max-width: $phones) {
        display: none;
      }
    }
  }
}

/* ========== Style SVG ========== */
//
.resize-svg {
  width: 80px;
  height: 80px;

  @media (max-width: $tablets) {
    width: 70px;
    height: 70px;
  }

  @media (max-width: $phones) {
    width: 60px;
    height: 60px;
  }

  @media (max-width: $xs-phones) {
    width: 50px;
    height: 50px;
  }

  //
  &-forecasts {
    width: 20px;
    height: 27px;
  }

  //
  &-performance {
    width: 50px;
    height: 38px;
  }
}

//
.svg-fill {
  //
  &-blueish {
    fill: color(blueish);
  }

  &-yellowish {
    fill: color(yellowish);
  }
}

/* ========== Style Other ========== */
//
.mt--45 {
  margin-top: -45px;

  @media (max-width: $tablets) {
    margin-top: 0;
  }
}

.bg-trans {
  background-color: transparent;
}

.form-control {
  //
  &.crm {
    &::placeholder {
      color: white;
    }
  }

  &:focus {
    background-color: transparent;
    border-color: white !important;
  }
}

//
.resize-img {
  width: 70vw;
}

.object-fit-cover {
  height: 100%;
  object-fit: cover;
}

//
.padding-section {
  padding: 100px 0;

  @media (max-width: $phones) {
    padding: 40px 0;
  }
}

//
.white-space-no {
  white-space: nowrap;

  @media (max-width: $phones) {
    white-space: normal;
  }
}

//
.set-size-icon {
  //
  img {
    @media (min-width: $xs-phones) {
      height: 60px;
    }

    @media (min-width: $phones) {
      height: 70px;
    }

    @media (min-width: $tablets) {
      height: auto;
    }
  }
}

//
.flex-basis {
  //
  &-offers {
    @media (min-width: $tablets) {
      flex-basis: calc(95% / 2);
    }
    @media (min-width: $desktops) {
      flex-basis: calc(95% / 4);
    }
  }

  //
  &-app {
    @media (min-width: $desktops) {
      flex-basis: calc(99% / 2);
    }
  }

  //
  &-form {
    @media (min-width: $desktops) {
      flex-basis: calc(97% / 2);
    }
  }

  //
  &-performance {
    flex-basis: calc(97% / 4);

    //
    @media (max-width: $phones) {
      flex-basis: calc(98% / 2);
    }
  }
}

//
.shadows {
  box-shadow: 0px 0px 20px #2b569f24;

  //
  &-app {
    box-shadow: 0px 0px 20px #38455a1a;
  }
}

//
.margin-title-section {
  margin: 90px 0;

  @media (max-width: $phones) {
    margin: 35px 0 20px 0;
  }
}
