.navbar {
  //
  @media (min-width: $desktops) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: auto;
    z-index: 10;
    background-color: transparent;
  }

  //
  @media (max-width: $desktops) {
    background-color: color(blueish);
  }
  //
  .container {
    padding: 0 15px;
    .navbar-brand {
      display: block;
      margin: 0;
      padding: 0;
      img {
        height: 50px;
        @media (min-width: $phones) {
          height: 65px;
        }
      }
    }
  }
}

.navbar-toggler {
  border: none;
  padding: 0;
  color: color(blueish) !important;
  .navbar-toggler-icon {
    filter: invert(10%) sepia(63%) saturate(3533%) hue-rotate(323deg)
      brightness(84%) contrast(99%);
  }
}

.navbar-nav {
  margin: 0 -8px;
  .nav-item {
    margin: 0 8px;
    
    @media (max-width: 1200px) {
      margin: 0 6px;
    }
    .nav-link {
      color: color(white);
      font-size: 14px;
      font-family: "dinMedium";
      @media (min-width: $tablets) {
        font-size: 16px;
      }
    }
    &:focus,
    &:hover,
    &.active {
      .nav-link {
        color: color(yellowish);
        background-color: rgba($black, 0.15);
      }
    }
  }
}

.btns-nav {
  margin: 0 -4px;
  .nav-link {
    margin: 0 2px;
    padding: 6px;
    @include center();
    @media (min-width: $phones) {
      margin: 0 4px;
      padding: 7px 12px;
      flex-direction: row;
    }
    img {
      height: 18px;
    }
    &.dropdown {
      padding: 0;
      min-width: 14rem;
      .dropdown-toggle {
        padding: 6px;
        @media (min-width: $phones) {
          padding: 7px 12px;
        }
        &::after {
          display: none;
          @media (min-width: $phones) {
            display: inline-block;
          }
        }
      }
    }
    span {
      display: none;
      @media (min-width: $phones) {
        display: inline;
      }
    }
  }
}

// 
.dropdown {
  
  // 
  &-toggle {
    position: relative;

    // 
    &::after {
      content: '';
      position: relative;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.992' height='8' viewBox='0 0 13.992 8'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23f6b452;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M13.186,16.835l5.291-5.295a1,1,0,0,1,1.412,0,1.008,1.008,0,0,1,0,1.416l-5.995,6a1,1,0,0,1-1.379.029L6.479,12.961a1,1,0,0,1,1.412-1.416Z' transform='translate(-6.188 -11.246)'/%3E%3C/svg%3E");
      top: 7px;
      left: 0;
      border: 0;
      z-index: 9999;
      width: 15px;
      height: 11px;
      background-repeat: no-repeat;
    }
  }

  // 
  &-menu {
    min-width: 14rem;

    .nav-item {
      // 
      &:focus,
      &:hover,
      &.active {
        .dropdown-item {
          color: color(light);
          background-color: color(blueish);
        }
      }
    }
  }
}