//
.offers {
  //
  &__category {
    //
    &__card {
      transition: all 0.2s ease;

      //
      &__price {
        background-color: rgba($yellowish, 0.1);
        color: color(blueish);
      }

      //
      @media (hover: hover) {
        &:hover,
        &:hover &__price {
          background-color: color(blueish);
          color: white;
          transform: translateY(-10px);
        }

        &:hover {
          img {
            filter: invert(71%) sepia(79%) saturate(411%) hue-rotate(337deg)
              brightness(98%) contrast(96%);
          }
        }
      }
    }
  }
}
